<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>Mythic Table Logo Generator</title>
    <style>use { fill: currentColor; }</style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; height: 0; width: 0;">
      <symbol id="horizontal" viewBox="0 0 2816 880"><path fill="var(--icon-bg)" stroke="var(--icon-bg)" stroke-width="2" d="M531.34,120.42A316.22,316.22,0,0,1,847.58,436.66v6.68A316.22,316.22,0,0,1,531.34,759.58h-6.68A316.22,316.22,0,0,1,208.42,443.34v-6.68A316.22,316.22,0,0,1,524.66,120.42h6.68Z"></path><path d="M531.34,120.42A316.22,316.22,0,0,1,847.58,436.66v6.68A316.22,316.22,0,0,1,531.34,759.58h-6.68A316.22,316.22,0,0,1,208.42,443.34v-6.68A316.22,316.22,0,0,1,524.66,120.42h6.68M531.52,88h-7C332,88,176,244,176,436.48v7C176,636,332,792,524.48,792h7C724,792,880,636,880,443.52v-7C880,244,724,88,531.52,88Z"/><path fill-rule="evenodd" d="M550,192.66c-6-.58-14.34-1.45-19.4-2.65-19.5-33.86-39.15-24.39-65.25-36.15,67-.8,117.38,24.78,136.68,59.08,22,11.93,28.14,26.54,39.67,42.33h-.88c-26.77-20.36-68-30.39-91.7-57.32A16.19,16.19,0,0,0,550,192.66Z"/><path fill-rule="evenodd" d="M452,183.64c34.71-1.67,60.39,16.74,89.94,31.74v1.76c-10.33,1.43-17,9.65-27.33,11.47-33.93-14.21-43.36.81-62.85-4.38-41.71-2.8-72,7.64-109.19,19-49.66,21.36-42.65,28.86-69.57,43.53v-.88h.89c15.54-39.43,42.35-52.08,73-63C394.62,190.57,422,189.42,452,183.64Z"/><path fill-rule="evenodd" d="M685.88,193.25C738.47,217,756,403.44,738.6,398c-19-20.38-38.92-49.64-51.41-75.76,6.81-10.22,14.45-14.43,11.73-33.58,11-11.45,3.56-13,4.91-18.4,8.18-6.12,1.79-10.29-.5-17.75,2.71-1.32,3.8-2.76,7-3.52a46.26,46.26,0,0,0,5.29,3.52C698.69,210.82,692.33,200.65,685.88,193.25Z"/><path fill-rule="evenodd" d="M609,195.42c25.2,8.19,45.48,27.17,61.32,47.92,6.71,14.16,4.12,17.33,13.11,25.19,2.45,11.09,11.31,33.61.36,40.1h-1.77c-3.74-17.24-20.06-22.7-24.88-36.24-1.84-24.62-1.22-18.89-12.88-32C629.91,203.59,620,207.78,609,195.42Z"/><path d="M559.66,676.94c-11.33-22.52-53.13-23.74-91.84-20.81-16-4.29-60.91-5.83-84.2-113.11-1.48-17,10.9-32.54,7.7-45.36-5.48-24.83-32.73-44-17.23-70.78,5.6-36-7-26.66,43.67-62,34,2.51,17.41,4.71,53.59-18.19,9.91-2.49,31.28-6.53,35.48,4.62C528,359.62,548,370.6,567.4,380.05l1.14-.59c-4.25-14.36-20.32-17.86-32.58-24.79-23-22.59-55.53-32.24-89.44-32.94C338.3,307.31,302.37,455.08,314.6,374.22c0-1.77.31-5.31.31-5.31-25.85,41.37-39.68,106.4-17.94,157,3.77,12,31.16,67.71,41.62,70-7.95-21.57-25-73.57-25-98.85,0-14.7,2.29-19.24,5.7-43.08a25.16,25.16,0,0,1,15.37-15.54c-3.43,17.42-8.62,68.39,3.93,90.48-.69,14.06,6.77,20.53,13.63,46.55,9.12,43.48,27.56,76.8,72.09,85.15-5,.56-9.49,1-13.43,1.39-26.5,5.29-68.08-27.34-90.16-49.06-6.94-6.85-13.88-16.09-15.87-25.57,5.75,46.1,66.86,108.2,125.68,102,38.06-9.49,104.62-35.51,128.8,20.94.92,1.31,8.25,8.32,12.93,9.49,3.46-.38,5.58-.65,7-2.32C560.64,708.28,583.48,705.62,559.66,676.94Z"/><path fill-rule="evenodd" d="M238.67,472.14c-5.22-28.86,2.41-74.87,11.72-93.89,6.72-28.44,24.35-52,42.71-75.16,20-23.79,34.78-21.6,52.36-30.52,20.89-11.91,40.35-22.92,62.61-28.85l7.94.88c1.14,2.13,1.58,2.5,1.76,6.17-1.63,2.36-.59,6.27,0,8.82,4.54,1.79,25.16-2.22,34-4.74,56.87-12.13,109.14,6,136.43,51,39.59,63.56,33.09,87,7.53,125.42,7.1-77.71-52.6-73.63-70.29-97.67-35.85-37.89-61.62-44.14-106.15-33.77C375.6,311.27,340,324.17,321.66,361c-4.55-10.72,4.41-29.4,12.34-38.8-51,18.67-71.53,140.52-66.94,177.2,4.63,37.06,35.2,121.72,35.2,121.72h-1.77S260.24,591.37,238.67,472.14Z"/><path fill-rule="evenodd" d="M535,425.36c-107.12.15-91.79,89-118.89,73.35-56.63-43.85-39.76-142.1,41.79-117.85,4-.38,4.69-.47,8.51-3.14,17.68-24.2,49-6.36,73.79,0,29,7.32,43.07,22.63,42.78,51.53,10.89,30,.57,31.76-.36,50.82h-7C553.93,448.61,571.85,440.91,535,425.36Z"/><path d="M816.06,365.75c-18.71,11.8-2.67,23.16-30.59,72.84H783.7c7.65-47.52,16.12-33.41-1.76-135.8-6.3,11.5,6.46,30.21-10.58,64.37v1.77c-7-5.78,1.91-44.49-5.29-87.22-6.21-25.4-35.07-97.25-79.36-97.07C761,209.85,765.53,363.14,759,457.1c-5.85-8.49-3.62-32.07-8.82-40.56-.07-4-.55-4.81-1.76-7.05h-2.64c-1.44,7.57-1.2,23.13-6.18,28.21-4.61-7.9-8.94-17.29-16.75-22-8.92,0-12.66,8.52-13.23,16.75-5.58-9.47-.19-24.36-21.16-53.78-35.69-8.25-26.1.27-44.09-38.8,0-6.86,2.45-7,7.06-8.82,2.78-15.36-25-61.85-44.09-66.13,16.27,17.2,19.94,41.53,30,60.84-12.45,21.71-9.57,7.09-.81,48.81,3.7,27.41-10,2.63-24.72,71.89-8.37,15-12.24-2.45-17.06,25.74-6.24,16.35-23.81,2.1-13,53.72-.71.91-.33.22-.88,1.76H580c-24.14-19.75-7.57-20.84-22.56-55.95-4.55-9-12.51-11.93-21.23-21.05-10.13-10.46-7.75-13-28.51-9.41,8.67,2.67,18,6.85,16.75,16.75,1,3.73,2.39,5.22,5.07,6.06,37.74,11.52,17.44,53.89,14.33,80.36l4.41,6.17c6.16,1.74,16.6,6.11,22,.88l2.65.88c1.81,3.18,2.28,21.52,8.82,17.64h3.52c2.67,7.18,5,15.21,9.7,19.4,10,.94,25.9,10.77,34.39,1.76-9.73-2.54-15.55-4.08-22-15.87,7.28-4.46,14.86,2,21.16-7-5.89.87-22.12-5.75-28.22-9.7.6-4.67,1-10.41,0-15a40.17,40.17,0,0,0,4.41-5.29h3.53c-.73-3.93-2.45-4.62-5.29-6.18,6.08-4.31,8.22,3,21.62-9.94-7.95,3.3-12.83-.26-17.21-5.05,5-25.26,24.67-35.36,41.44-53.78,3.73-12.08,2.89-28.93,15.78-34.54,5-3.73,4.39-15,8.91-19.25,12.4,27.71,2.88,25.54-1.77,60.84,10.37,20.22,9.75,39.57,10.59,60.84-3.87.63-4.9,1.7-9.7,1.76.84,3.24,1.3,4.26,4.41,5.3-.3.88-.59,1.76-.88,2.64-2.73.66-4,1.41-7.06,1.76v2.65c2.74,1.78,4.53,4.18,7.94,5.29v.88a14.17,14.17,0,0,0-4.41,4.41c-6.34,1.45-14,1.1-23.81,0,1.59,8.37,21.9,14.51,33.51,14.11-.91.71-.22.32-1.76.88,1.43,6.85,5.42,4.38,7.93,7.94-.86,6.43,3.69,10.74,7.06,15,1,10.09-27.7,5.4-32.63,5.29,11.54,9.49,26.19,17.13,51.14,7,13.06,11,14.87-4.67,22.93,15,10.31-.11,13.43-3,18.52-7.93-5.49-15.8-4.65-14.52.07-32.08-3-26.3,11.44-75.05,34.19-114.3,12.45-24.26,33.22-51.59,23.85-81.52C812.71,376.43,815.54,367.81,816.06,365.75ZM720.12,506.21c-12.65-7.6-3.41-36.34,10.31-52.53C742.82,459.65,742.82,471,720.12,506.21Z"/><path fill-rule="evenodd" d="M486.4,690.69c21.93-3.77,37.44,6.72,48.42,8.75,2,.37-52.34,7.61-61.5-9.7C474.79,689.74,480.59,691.17,486.4,690.69Z"/><path d="M1463.66,198.27l2,2-3,29.59c-28.25,2.46-64.93,8.38-64.93,26.13,0,21.2,6.94,126.72,11.89,185.39,4,36,8.42,45.37,24.28,45.37,5.45,0,12.39-1,13.88-1l2,2.47-4.46,31.06c-6,0-32.71-1.48-50-1.48-21.8,0-68.38,3.45-70.36,3.94l3.46-32.05c19.33-2.46,27.75-9.36,27.75-24.65,0-14.3-9.91-136.58-10.4-170.11h-4.46c-17.84,49.31-48.07,135.1-77.31,226.32l-33.69,4.44C1200,430,1170.79,345.2,1153,294.91h-4c-.49,17.75-11.39,164.19-11.39,176,0,10.85,5,15.78,15.85,15.78l16.85-.5,3,2.47-5.45,31.06c-10.4-.49-43.6-2-58-2-16.85,0-49.06,3.45-49.06,3.94l3-32.05c19.33-2,26.26-10.35,30.23-35.5,2.48-21.69,19.82-187.36,19.82-198.7,0-17.75-25.59-22.69-55.32-25.15l-2.48-3,4.46-28.6ZM1256,405.85h4l58.81-175.92-116.56-.7Z"/><path d="M1503.28,493.13c32.21-3.46,37.66-9.86,37.66-34.52V448.26c0-12.33-2.48-21.7-11.4-38l-41.13-74c-11.4-20.71-20.81-31.06-45.09-37l-1.49-2,4-27.12s38.66,1,54.51,1c20.32,0,66.4-2.95,66.4-2.95l2.48,3.94-2.48,24.16c-16.84.49-22.79,3.45-22.79,11.34s27.25,61.14,32.21,73h4l29.24-58.19c4-6.9,6.44-13.31,6.44-17.75,0-5.42-6-7.89-19.82-8.38l-1.49-2,3-24.66c12.88,0,37.66,1.48,56.49,1.48s43.11-1.48,43.11-1.47l1.48,3-3,25.64c-21.8,7.89-33.2,21.7-49.06,48.82l-38.65,69c-6.94,13.8-6.94,24.65-7.43,48.81,0,18.25,4.46,24.65,19.82,24.65,8.92,0,20.32-1,20.32-1l1.48,2-4,29.09s-49.06-2-70.86-2c-23.79,0-66.9,3.94-66.9,3.94Z"/><path d="M1759.46,492.14c36.17-2.47,41.13-8.38,41.13-38V305.27c-37.66,1-42.62,5.91-48.07,50.78l-37.66,2.47s4-48.32,4.46-87.28l5-4.93,42.12,4.44h127.84l43.11-4.44,5,4.93c.5,39.94,3.47,84.81,3.47,84.81l-37.66,2.47c-5.95-48.82-9.91-52.27-45.1-53.25-2.47,35-4,103.05-4,158.27,0,19.23,6,26.13,22.3,26.13,11.4,0,21.31-1,21.31-1l1.48,2-3.46,29.09s-52-2-73.34-2c-23.29,0-70.86,3-70.86,3Z"/><path d="M1973,493.62c23.29-3.95,28.74-10.35,28.74-32.05l.5-143.48c0-16.28-3-19.73-14.87-19.73h-11.89l-2.48-3.94,3-24.16s33.2.49,49.55.49c21.81,0,65.91-2.46,65.91-2.46l-2.48,28.1c-20.31,3-22.79,6.9-23.78,25.64l-2.48,52.27,49.06,1a393.25,393.25,0,0,0,45.09-2.46l.5-54.73c0-15.78-3-19.73-14.87-19.73h-12.39l-2.48-3.94,3.47-24.16c0,.49,36.18.49,54.51.49s62.44-2.46,62.44-2.46l-2.48,27.61c-19.82,2.46-24.28,6.41-24.78,21.2-3,40.43-4.95,104.53-4.95,147.43,0,19.72,4,25.64,16.85,25.64a112.6,112.6,0,0,0,13.87-1l3,3-4,26.63s-34.69-1-61.45-1l-59.46.49,3.47-27.12c22.3-.49,28.74-7.88,28.74-34V411.28s-26.26-.5-40.14-.5c-10.9,0-55,3.45-55,3.45l-1,50.3c0,21.2,3,26.13,15.36,26.13a102.51,102.51,0,0,0,13.87-1l2.48,3L2089,518.77s-37.16-1-53.51-1c-24.78,0-64.92,2.47-65.41,3Z"/><path d="M2281.74,493.62c23.78-4.44,28.74-10.35,28.74-32.05l.49-143.48c0-15.78-3-19.73-14.86-19.73h-13.38l-2-3.94,2.47-24.16c13.38,0,39.15.49,59,.49,17.84,0,60.46-2.46,60.46-2.46l-2.48,28.1c-20.81,2.47-24.78,6.41-25.77,20.71-3,43.39-5,104.53-5,147.43,0,21.2,3,26.13,15.36,26.13a138.46,138.46,0,0,0,16.35-1l2.48,3-3.47,26.14s-44.1-1-62.44-1c-23.29,0-59,3-59,3Z"/><path d="M2414.53,400.43c0-82.84,55-134.12,143.21-134.12,34.69,0,79.78,9.86,79.78,9.86l2.48,5.43a432.9,432.9,0,0,0-10.9,74.95l-44.6,2.95s.5-9.86.5-20.7c0-21.7-12.39-31.07-41.13-31.07-39.65,0-60,24.65-60,79.39,0,61.14,22.79,94.17,62.44,94.17,27.74,0,42.11-14.3,48.06-50.78l44.6-3s-6.44,41.42-7.43,74.45l-4.46,4.93s-40.14,15.29-91.18,15.29C2460.12,522.22,2414.53,476.36,2414.53,400.43Z"/><path d="M1450.55,556.87l-1.12,14.62-21.75-1.13h-10.12l-.94,67.3.94,37.87h-19.5l1.12-36.18-.93-69h-10.13L1366,571.49l-1.31-1.69,1.5-14.62h83.24Z"/><path d="M1681.7,675.53h-19.88L1659,662l-5.25-16.68-25.49-.56-23.06.56-5.62,15.75-3,14.43h-19.31l42.93-120.35h22.68Zm-32.81-45.93-17.25-55.49h-1.31l-19.68,55.49,18.93.38Z"/><path d="M1907.5,622.76q6.09,7.22,6.09,19,0,34.5-51.55,34.49-17.82,0-29.25-.75h-.18l1.31-36.18-1.31-84.17,37.49-.19q17.43,0,27.09,7.59t9.65,22q0,10.13-4.68,17.34a29.41,29.41,0,0,1-13.32,11Q1901.41,615.54,1907.5,622.76ZM1886.6,656q7.49-5.25,7.49-15.38,0-16.11-20.8-18.93l-21.94.19-.19,15.74.57,23.06q7.3.57,13.49.56Q1879.1,661.28,1886.6,656Zm-4.69-82.11q-5.07-3.95-17.06-3.94H1852.1l-.56,36.93,19.31.56q8.25-2.06,12.18-7t3.94-13.59Q1887,577.86,1881.91,573.93Z"/><path d="M2130.49,661.1l-1.5,14.43h-61.87l1.32-36.18-1.32-84.17H2087l-1.12,82.48.37,21.75h42.93Z"/><path d="M2349.44,659l1.13,1.68-1.31,14.81h-71.05l1.31-36.18-1.31-84.17h71.42l1.13,1.69-1.5,14.81-28.5-.75-22.87.18-.56,35.06,21.75.37L2339,606l1.31,1.5-1.5,14.81-21.18-.56-20.44.37-.19,15.56.57,22.13,22.87.18Z"/></symbol>
  
      <symbol id="horizontal-url" viewBox="0 0 2816 880"><path fill="var(--icon-bg)" stroke="var(--icon-bg)" stroke-width="2" d="M531.34,120.42A316.22,316.22,0,0,1,847.58,436.66v6.68A316.22,316.22,0,0,1,531.34,759.58h-6.68A316.22,316.22,0,0,1,208.42,443.34v-6.68A316.22,316.22,0,0,1,524.66,120.42h6.68Z"></path><path d="M531.34,120.42A316.22,316.22,0,0,1,847.58,436.66v6.68A316.22,316.22,0,0,1,531.34,759.58h-6.68A316.22,316.22,0,0,1,208.42,443.34v-6.68A316.22,316.22,0,0,1,524.66,120.42h6.68M531.52,88h-7C332,88,176,244,176,436.48v7C176,636,332,792,524.48,792h7C724,792,880,636,880,443.52v-7C880,244,724,88,531.52,88Z"/><path fill-rule="evenodd" d="M550,192.66c-6-.58-14.34-1.45-19.4-2.65-19.5-33.86-39.15-24.39-65.25-36.15,67-.8,117.38,24.78,136.68,59.08,22,11.93,28.14,26.54,39.67,42.33h-.88c-26.77-20.36-68-30.39-91.7-57.32A16.19,16.19,0,0,0,550,192.66Z"/><path fill-rule="evenodd" d="M452,183.64c34.71-1.67,60.39,16.74,89.94,31.74v1.76c-10.33,1.43-17,9.65-27.33,11.47-33.93-14.21-43.36.81-62.85-4.38-41.71-2.8-72,7.64-109.19,19-49.66,21.36-42.65,28.86-69.57,43.53v-.88h.89c15.54-39.43,42.35-52.08,73-63C394.62,190.57,422,189.42,452,183.64Z"/><path fill-rule="evenodd" d="M685.88,193.25C738.47,217,756,403.44,738.6,398c-19-20.38-38.92-49.64-51.41-75.76,6.81-10.22,14.45-14.43,11.73-33.58,11-11.45,3.56-13,4.91-18.4,8.18-6.12,1.79-10.29-.5-17.75,2.71-1.32,3.8-2.76,7-3.52a46.26,46.26,0,0,0,5.29,3.52C698.69,210.82,692.33,200.65,685.88,193.25Z"/><path fill-rule="evenodd" d="M609,195.42c25.2,8.19,45.48,27.17,61.32,47.92,6.71,14.16,4.12,17.33,13.11,25.19,2.45,11.09,11.31,33.61.36,40.1h-1.77c-3.74-17.24-20.06-22.7-24.88-36.24-1.84-24.62-1.22-18.89-12.88-32C629.91,203.59,620,207.78,609,195.42Z"/><path d="M559.66,676.94c-11.33-22.52-53.13-23.74-91.84-20.81-16-4.29-60.91-5.83-84.2-113.11-1.48-17,10.9-32.54,7.7-45.36-5.48-24.83-32.73-44-17.23-70.78,5.6-36-7-26.66,43.67-62,34,2.51,17.41,4.71,53.59-18.19,9.91-2.49,31.28-6.53,35.48,4.62C528,359.62,548,370.6,567.4,380.05l1.14-.59c-4.25-14.36-20.32-17.86-32.58-24.79-23-22.59-55.53-32.24-89.44-32.94C338.3,307.31,302.37,455.08,314.6,374.22c0-1.77.31-5.31.31-5.31-25.85,41.37-39.68,106.4-17.94,157,3.77,12,31.16,67.71,41.62,70-7.95-21.57-25-73.57-25-98.85,0-14.7,2.29-19.24,5.7-43.08a25.16,25.16,0,0,1,15.37-15.54c-3.43,17.42-8.62,68.39,3.93,90.48-.69,14.06,6.77,20.53,13.63,46.55,9.12,43.48,27.56,76.8,72.09,85.15-5,.56-9.49,1-13.43,1.39-26.5,5.29-68.08-27.34-90.16-49.06-6.94-6.85-13.88-16.09-15.87-25.57,5.75,46.1,66.86,108.2,125.68,102,38.06-9.49,104.62-35.51,128.8,20.94.92,1.31,8.25,8.32,12.93,9.49,3.46-.38,5.58-.65,7-2.32C560.64,708.28,583.48,705.62,559.66,676.94Z"/><path fill-rule="evenodd" d="M238.67,472.14c-5.22-28.86,2.41-74.87,11.72-93.89,6.72-28.44,24.35-52,42.71-75.16,20-23.79,34.78-21.6,52.36-30.52,20.89-11.91,40.35-22.92,62.61-28.85l7.94.88c1.14,2.13,1.58,2.5,1.76,6.17-1.63,2.36-.59,6.27,0,8.82,4.54,1.79,25.16-2.22,34-4.74,56.87-12.13,109.14,6,136.43,51,39.59,63.56,33.09,87,7.53,125.42,7.1-77.71-52.6-73.63-70.29-97.67-35.85-37.89-61.62-44.14-106.15-33.77C375.6,311.27,340,324.17,321.66,361c-4.55-10.72,4.41-29.4,12.34-38.8-51,18.67-71.53,140.52-66.94,177.2,4.63,37.06,35.2,121.72,35.2,121.72h-1.77S260.24,591.37,238.67,472.14Z"/><path fill-rule="evenodd" d="M535,425.36c-107.12.15-91.79,89-118.89,73.35-56.63-43.85-39.76-142.1,41.79-117.85,4-.38,4.69-.47,8.51-3.14,17.68-24.2,49-6.36,73.79,0,29,7.32,43.07,22.63,42.78,51.53,10.89,30,.57,31.76-.36,50.82h-7C553.93,448.61,571.85,440.91,535,425.36Z"/><path d="M816.06,365.75c-18.71,11.8-2.67,23.16-30.59,72.84H783.7c7.65-47.52,16.12-33.41-1.76-135.8-6.3,11.5,6.46,30.21-10.58,64.37v1.77c-7-5.78,1.91-44.49-5.29-87.22-6.21-25.4-35.07-97.25-79.36-97.07C761,209.85,765.53,363.14,759,457.1c-5.85-8.49-3.62-32.07-8.82-40.56-.07-4-.55-4.81-1.76-7.05h-2.64c-1.44,7.57-1.2,23.13-6.18,28.21-4.61-7.9-8.94-17.29-16.75-22-8.92,0-12.66,8.52-13.23,16.75-5.58-9.47-.19-24.36-21.16-53.78-35.69-8.25-26.1.27-44.09-38.8,0-6.86,2.45-7,7.06-8.82,2.78-15.36-25-61.85-44.09-66.13,16.27,17.2,19.94,41.53,30,60.84-12.45,21.71-9.57,7.09-.81,48.81,3.7,27.41-10,2.63-24.72,71.89-8.37,15-12.24-2.45-17.06,25.74-6.24,16.35-23.81,2.1-13,53.72-.71.91-.33.22-.88,1.76H580c-24.14-19.75-7.57-20.84-22.56-55.95-4.55-9-12.51-11.93-21.23-21.05-10.13-10.46-7.75-13-28.51-9.41,8.67,2.67,18,6.85,16.75,16.75,1,3.73,2.39,5.22,5.07,6.06,37.74,11.52,17.44,53.89,14.33,80.36l4.41,6.17c6.16,1.74,16.6,6.11,22,.88l2.65.88c1.81,3.18,2.28,21.52,8.82,17.64h3.52c2.67,7.18,5,15.21,9.7,19.4,10,.94,25.9,10.77,34.39,1.76-9.73-2.54-15.55-4.08-22-15.87,7.28-4.46,14.86,2,21.16-7-5.89.87-22.12-5.75-28.22-9.7.6-4.67,1-10.41,0-15a40.17,40.17,0,0,0,4.41-5.29h3.53c-.73-3.93-2.45-4.62-5.29-6.18,6.08-4.31,8.22,3,21.62-9.94-7.95,3.3-12.83-.26-17.21-5.05,5-25.26,24.67-35.36,41.44-53.78,3.73-12.08,2.89-28.93,15.78-34.54,5-3.73,4.39-15,8.91-19.25,12.4,27.71,2.88,25.54-1.77,60.84,10.37,20.22,9.75,39.57,10.59,60.84-3.87.63-4.9,1.7-9.7,1.76.84,3.24,1.3,4.26,4.41,5.3-.3.88-.59,1.76-.88,2.64-2.73.66-4,1.41-7.06,1.76v2.65c2.74,1.78,4.53,4.18,7.94,5.29v.88a14.17,14.17,0,0,0-4.41,4.41c-6.34,1.45-14,1.1-23.81,0,1.59,8.37,21.9,14.51,33.51,14.11-.91.71-.22.32-1.76.88,1.43,6.85,5.42,4.38,7.93,7.94-.86,6.43,3.69,10.74,7.06,15,1,10.09-27.7,5.4-32.63,5.29,11.54,9.49,26.19,17.13,51.14,7,13.06,11,14.87-4.67,22.93,15,10.31-.11,13.43-3,18.52-7.93-5.49-15.8-4.65-14.52.07-32.08-3-26.3,11.44-75.05,34.19-114.3,12.45-24.26,33.22-51.59,23.85-81.52C812.71,376.43,815.54,367.81,816.06,365.75ZM720.12,506.21c-12.65-7.6-3.41-36.34,10.31-52.53C742.82,459.65,742.82,471,720.12,506.21Z"/><path fill-rule="evenodd" d="M486.4,690.69c21.93-3.77,37.44,6.72,48.42,8.75,2,.37-52.34,7.61-61.5-9.7C474.79,689.74,480.59,691.17,486.4,690.69Z"/><path d="M1463.66,104l2,2-3,29.59c-28.25,2.46-64.93,8.38-64.93,26.13,0,21.2,6.94,126.72,11.89,185.39,4,36,8.42,45.37,24.28,45.37,5.45,0,12.39-1,13.88-1l2,2.47L1445.31,425c-6,0-32.71-1.48-50-1.48-21.8,0-68.38,3.45-70.36,3.94l3.46-32c19.33-2.47,27.75-9.37,27.75-24.66,0-14.3-9.91-136.58-10.4-170.11h-4.46c-17.84,49.31-48.07,135.1-77.31,226.32l-33.69,4.44c-30.23-95.66-59.46-180.46-77.3-230.76h-4c-.49,17.75-11.39,164.19-11.39,176,0,10.85,5,15.78,15.85,15.78l16.85-.5,3,2.47-5.45,31.06c-10.4-.49-43.6-2-58-2-16.85,0-49.06,3.45-49.06,3.94l3-32c19.33-2,26.26-10.36,30.23-35.51,2.48-21.69,19.82-187.36,19.82-198.7,0-17.75-25.59-22.69-55.32-25.15l-2.48-3,4.46-28.6ZM1256,311.58h4l58.81-175.91L1202.23,135Z"/><path d="M1503.28,398.86c32.21-3.45,37.66-9.86,37.66-34.52V354c0-12.33-2.48-21.7-11.4-38l-41.13-74c-11.4-20.71-20.81-31.06-45.09-37l-1.49-2,4-27.12s38.66,1,54.51,1c20.32,0,66.4-2.95,66.4-2.95l2.48,3.94-2.48,24.16c-16.84.49-22.79,3.45-22.79,11.34s27.25,61.14,32.21,73h4l29.24-58.19c4-6.9,6.44-13.31,6.44-17.75,0-5.42-6-7.89-19.82-8.38l-1.49-2,3-24.66c12.88,0,37.66,1.48,56.49,1.48s43.11-1.48,43.11-1.47l1.48,2.95-3,25.64c-21.8,7.89-33.2,21.7-49.06,48.82l-38.65,69c-6.94,13.8-6.94,24.65-7.43,48.81,0,18.25,4.46,24.66,19.82,24.66,8.92,0,20.32-1,20.32-1l1.48,2-4,29.09s-49.06-2-70.86-2c-23.79,0-66.9,3.94-66.9,3.94Z"/><path d="M1759.46,397.87c36.17-2.46,41.13-8.38,41.13-38V211c-37.66,1-42.62,5.91-48.07,50.78l-37.66,2.47s4-48.32,4.46-87.28l5-4.93,42.12,4.44h127.84l43.11-4.44,5,4.93c.5,39.94,3.47,84.81,3.47,84.81l-37.66,2.47c-5.95-48.82-9.91-52.27-45.1-53.25-2.47,35-4,103.05-4,158.27,0,19.23,6,26.14,22.3,26.14,11.4,0,21.31-1,21.31-1l1.48,2-3.46,29.09s-52-2-73.34-2c-23.29,0-70.86,3-70.86,3Z"/><path d="M1973,399.35c23.29-3.94,28.74-10.35,28.74-32.05l.5-143.48c0-16.28-3-19.73-14.87-19.73h-11.89l-2.48-3.94,3-24.16s33.2.49,49.55.49c21.81,0,65.91-2.46,65.91-2.46l-2.48,28.1c-20.31,3-22.79,6.9-23.78,25.64L2062.72,280l49.06,1a393.25,393.25,0,0,0,45.09-2.46l.5-54.73c0-15.78-3-19.73-14.87-19.73h-12.39l-2.48-3.94L2131.1,176c0,.49,36.18.49,54.51.49s62.44-2.46,62.44-2.46l-2.48,27.61c-19.82,2.46-24.28,6.41-24.78,21.2-3,40.43-4.95,104.53-4.95,147.43,0,19.72,4,25.64,16.85,25.64a112.6,112.6,0,0,0,13.87-1l3,3-4,26.63s-34.69-1-61.45-1l-59.46.49,3.47-27.12c22.3-.49,28.74-7.88,28.74-34V317s-26.26-.5-40.14-.5c-10.9,0-55,3.46-55,3.46l-1,50.29c0,21.2,3,26.13,15.36,26.13a103.53,103.53,0,0,0,13.87-1l2.48,2.95L2089,424.5s-37.16-1-53.51-1c-24.78,0-64.92,2.47-65.41,3Z"/><path d="M2281.74,399.35c23.78-4.44,28.74-10.35,28.74-32.05l.49-143.48c0-15.78-3-19.73-14.86-19.73h-13.38l-2-3.94,2.47-24.16c13.38,0,39.15.49,59,.49,17.84,0,60.46-2.46,60.46-2.46l-2.48,28.1c-20.81,2.47-24.78,6.41-25.77,20.71-3,43.39-5,104.53-5,147.43,0,21.2,3,26.13,15.36,26.13a139.85,139.85,0,0,0,16.35-1l2.48,2.95-3.47,26.14s-44.1-1-62.44-1c-23.29,0-59,3-59,3Z"/><path d="M2414.53,306.16c0-82.84,55-134.12,143.21-134.12,34.69,0,79.78,9.87,79.78,9.87l2.48,5.42a432.9,432.9,0,0,0-10.9,74.95l-44.6,3s.5-9.86.5-20.7c0-21.7-12.39-31.07-41.13-31.07-39.65,0-60,24.66-60,79.39,0,61.14,22.79,94.17,62.44,94.17,27.74,0,42.11-14.3,48.06-50.78l44.6-3s-6.44,41.42-7.43,74.45l-4.46,4.93S2587,428,2535.94,428C2460.12,428,2414.53,382.09,2414.53,306.16Z"/><path d="M1450.55,462.6l-1.12,14.62-21.75-1.13h-10.12l-.94,67.3.94,37.87h-19.5l1.12-36.18-.93-69h-10.13L1366,477.22l-1.31-1.69,1.5-14.62h83.24Z"/><path d="M1681.7,581.26h-19.88l-2.81-13.5-5.25-16.68-25.49-.56-23.06.56-5.62,15.75-3,14.43h-19.31l42.93-120.35h22.68Zm-32.81-45.93-17.25-55.49h-1.31l-19.68,55.49,18.93.38Z"/><path d="M1907.5,528.49q6.09,7.21,6.09,19,0,34.5-51.55,34.49-17.82,0-29.25-.75h-.18l1.31-36.18-1.31-84.17,37.49-.19q17.43,0,27.09,7.59t9.65,22q0,10.13-4.68,17.34a29.41,29.41,0,0,1-13.32,11Q1901.41,521.28,1907.5,528.49Zm-20.9,33.28q7.49-5.25,7.49-15.38,0-16.11-20.8-18.93l-21.94.19-.19,15.74.57,23.06q7.3.57,13.49.56Q1879.1,567,1886.6,561.77Zm-4.69-82.11q-5.07-3.95-17.06-3.94H1852.1l-.56,36.93,19.31.56q8.25-2.06,12.18-7t3.94-13.59Q1887,483.59,1881.91,479.66Z"/><path d="M2130.49,566.83l-1.5,14.43h-61.87l1.32-36.18-1.32-84.17H2087l-1.12,82.48.37,21.75h42.93Z"/><path d="M2349.44,564.77l1.13,1.68-1.31,14.81h-71.05l1.31-36.18-1.31-84.17h71.42l1.13,1.69-1.5,14.81-28.5-.75-22.87.18-.56,35.06,21.75.37,19.87-.56,1.31,1.5-1.5,14.81-21.18-.56-20.44.37-.19,15.56.57,22.13,22.87.18Z"/><path d="M1278,719.47q.21-8.18-3.77-12.81c-2.66-3.08-6.49-4.62-11.52-4.62q-12.27,0-25.4,12.48l-.43,26.69L1238,784.7h-22.17l1.5-65.23q.23-8.18-3.76-12.81T1202,702q-12.48,0-25.83,12.91l-.21,26.26,1.29,43.49h-22l1.29-41.55L1155.52,687,1176.4,685l-.22,14.42h1.51q12.69-11.19,26.47-15.28,12.06,0,19.92,4.2a23.61,23.61,0,0,1,11.08,11.94h1.29a78.7,78.7,0,0,1,28.42-16.14q16.58,0,25.07,7.53t8.29,21.53l-.64,28,1.07,43.49h-22Z"/><path d="M1333.75,698.81l21.53,63.07h1.5l21.53-61.14,3.66-15.28h18.94l-34.22,94.28q-5.18,14.64-11.41,23.36A47.57,47.57,0,0,1,1339.89,817q-9.17,5.17-23.79,8.83h-1.94a49.08,49.08,0,0,1-9-12.92l.65-2.36q15.27-2.81,24.11-8.18T1346,784.7l-36.16-98.81,20.66-1.08Z"/><path d="M1467.86,764.25l2.15,1.5-2.15,13.78q-11.85,5.6-22,6.46-13.35-2.16-19.37-8.94t-6-19.69l.86-15.5-.21-42h-13.57l-.86-1.29,1.08-12.7h13.13V670.18l19.37-7.32,1.94,1.72-.43,21.31h27.55l.87,1.51-1.08,12.48h-27.77l-1.08,54q-.21,8,2.69,11.09t9.8,3.12A34.6,34.6,0,0,0,1467.86,764.25Z"/><path d="M1551.16,719.47q.21-8.18-3.76-12.81T1535.88,702q-12.27,0-25.83,12.91l-.43,26,1.5,43.7h-21.95l1.5-41.77-1.29-107.63,22-1.72-1.08,65.87h1.3q12.69-11.19,26.47-15.28,16.58,0,25.08,7.53t8.29,21.53l-.43,28,.86,43.49h-22Z"/><path d="M1621.34,642.3c2,2.08,3,5,3,8.72s-1.08,7-3.23,9.26a11.54,11.54,0,0,1-8.83,3.44q-5.6,0-8.71-3.23c-2.09-2.15-3.12-5.09-3.12-8.82a12.47,12.47,0,0,1,3.33-9q3.35-3.43,9.15-3.44C1616.53,639.18,1619.32,640.22,1621.34,642.3Zm-18.73,100.85L1602,687l21.53-1.94-.86,56.18.64,43.49h-21.52Z"/><path d="M1707,685a55.55,55.55,0,0,1,12.48,4.09l-3.65,18.3-2.16.86q-11.42-6.67-21.09-6.67-11.41,0-17.87,8.61t-6.46,24.1q0,16.59,6.68,25.73t18.94,9.15q10.75,0,23-6.46l1.94,1.29-2.15,17.65a74,74,0,0,1-26.26,5q-20.25,0-31.54-13.45t-11.3-37.13q0-24.54,12.05-38.54t33.37-14A67.65,67.65,0,0,1,1707,685Z"/><path d="M1788,764.25l2.15,1.5L1788,779.53q-11.85,5.6-22,6.46-13.35-2.16-19.37-8.94t-6-19.69l.86-15.5-.22-42h-13.56l-.86-1.29,1.08-12.7H1741V670.18l19.37-7.32,1.94,1.72-.43,21.31h27.55l.86,1.51-1.07,12.48h-27.77l-1.08,54q-.21,8,2.69,11.09t9.8,3.12A34.63,34.63,0,0,0,1788,764.25Z"/><path d="M1867.38,690.63q8.59,7.1,8.61,19.8,0,3.87-1.3,25.83-1.29,21.53-1.29,25.19c0,2.72.47,4.63,1.4,5.7s2.55,1.62,4.85,1.62a36.61,36.61,0,0,0,6.45-.86l1.94,1.5-2.15,12.06a32.7,32.7,0,0,1-13.56,4.73,16.73,16.73,0,0,1-10.77-4.84,18.76,18.76,0,0,1-5-11.09h-1.5q-11,11.63-22.39,16.15-14.85-.23-23.36-7.75t-8.5-20.45q0-19.15,20.88-23.9l34-7.53.22-11.62q0-8-4-12.06T1840.47,699a35,35,0,0,0-14.64,3.34,78,78,0,0,0-16.14,10.44l-1.73-1.08-2.79-15.28q18.93-12.91,38.74-12.92Q1858.76,683.52,1867.38,690.63Zm-39.61,55.53a10,10,0,0,0-5.6,2.91c-1.15,1.37-1.72,3.48-1.72,6.35q0,6.47,3.55,10.12a12.73,12.73,0,0,0,9.58,3.66q10.11,0,21.53-13.13l.64-16.58Z"/><path d="M1987.49,696.87q9.9,12.48,9.9,35.09,0,26.26-12.7,40.47t-35.3,14.2a53,53,0,0,1-22-5l-13.78,5.6-3.23-2.15,1.51-41.76-1.29-108.07,22-1.72-.86,65.66H1933a80.13,80.13,0,0,1,12.48-9.15,67.61,67.61,0,0,1,13.35-5.71Q1977.58,684.38,1987.49,696.87Zm-17.65,65.76q7.1-8.93,7.1-27,0-16.15-5.6-24.87T1955.2,702q-11.42,0-23.68,12.91l-.43,25.83.65,25q9.67,5.82,18.51,5.81Q1962.73,771.56,1969.84,762.63Z"/><path d="M2042.38,741l1.5,43.7h-22l1.5-41.77-1.29-107.63,22-1.72Z"/><path d="M2148.71,736.05l-60.48.21q.21,16.37,8,24.86t22,8.51q14.85,0,29.06-8.83l2.15,1.29-3.23,17.65q-15.72,6.9-30.57,6.89-22.17,0-34.76-13.67t-12.59-37.34q0-23.89,12.48-37.89t33.8-14q18.08,0,27.87,9.9t9.8,28a78,78,0,0,1-1.08,11.84Zm-16.36-17q0-10.11-4.62-15.28t-13.46-5.17q-9.9,0-16.36,6.35t-8.61,18l42.62-.87Z"/><path d="M2187.89,764.57q3,3.12,3,8.72,0,5.81-3.23,9.25a11.52,11.52,0,0,1-8.83,3.45q-5.59,0-8.72-3.23t-3.12-8.83a12.43,12.43,0,0,1,3.34-9q3.33-3.43,9.15-3.44Q2184.87,761.45,2187.89,764.57Z"/><path d="M2262.16,685a55.89,55.89,0,0,1,12.48,4.09l-3.66,18.3-2.15.86q-11.41-6.67-21.1-6.67-11.4,0-17.86,8.61t-6.46,24.1q0,16.59,6.67,25.73t19,9.15q10.75,0,23-6.46L2274,764l-2.16,17.65a74,74,0,0,1-26.26,5q-20.23,0-31.53-13.45t-11.3-37.13q0-24.54,12.05-38.54t33.37-14A67.65,67.65,0,0,1,2262.16,685Z"/><path d="M2364.08,696.55q11.31,13,11.3,36.91,0,25.62-12.05,39.4t-34.23,13.77q-20.88,0-32.18-13t-11.3-36.92q0-25.61,12.05-39.39t34.23-13.78Q2352.78,683.52,2364.08,696.55Zm-58,35.41q0,20.24,6,29.92t18.51,9.68q12.27,0,18.3-8.18t6-25q0-20.22-6-29.92t-18.3-9.68Q2306.07,698.81,2306.07,732Z"/><path d="M2520,719.47q.21-8.18-3.77-12.81T2504.75,702q-12.27,0-25.4,12.48l-.43,26.69L2480,784.7h-22.18l1.51-65.23q.21-8.18-3.77-12.81T2444.05,702q-12.5,0-25.83,12.91l-.22,26.26,1.29,43.49h-21.95l1.29-41.55L2397.55,687l20.88-1.94-.21,14.42h1.5q12.71-11.19,26.48-15.28,12.06,0,19.91,4.2a23.59,23.59,0,0,1,11.09,11.94h1.29a78.66,78.66,0,0,1,28.41-16.14q16.57,0,25.08,7.53t8.29,21.53l-.65,28,1.08,43.49h-22Z"/></symbol>
  
      <symbol id="vertical" viewBox="0 0 1622 2010"><path fill="var(--icon-bg)" stroke="var(--icon-bg)" stroke-width="2" d="M815.87,184.9c129.71,0,251.66,50.51,343.37,142.23s142.23,213.66,142.23,343.37v10.25c0,129.71-50.51,251.65-142.23,343.37s-213.66,142.23-343.37,142.23H805.63c-129.71,0-251.66-50.51-343.37-142.23S320,810.46,320,680.75V670.5c0-129.71,50.51-251.65,142.23-343.37S675.92,184.9,805.63,184.9h10.24z"></path><path d="M815.87,184.9c129.71,0,251.66,50.51,343.37,142.23s142.23,213.66,142.23,343.37v10.25c0,129.71-50.51,251.65-142.23,343.37s-213.66,142.23-343.37,142.23H805.63c-129.71,0-251.66-50.51-343.37-142.23S320,810.46,320,680.75V670.5c0-129.71,50.51-251.65,142.23-343.37S675.92,184.9,805.63,184.9h10.24m.29-49.77H805.34c-295.52,0-535.09,239.57-535.09,535.09V681c0,295.52,239.57,535.09,535.09,535.09h10.82c295.52,0,535.09-239.57,535.09-535.09V670.22c0-295.52-239.57-535.09-535.09-535.09Z"/><path fill-rule="evenodd" d="M844.56,295.83c-9.22-.89-22-2.23-29.78-4.06-29.95-52-60.12-37.46-100.2-55.51C817.53,235,894.82,274.3,924.45,327c33.81,18.32,43.22,40.75,60.93,65H984c-41.11-31.26-104.43-46.65-140.81-88A24.66,24.66,0,0,0,844.56,295.83Z"/><path fill-rule="evenodd" d="M694,282c53.3-2.55,92.74,25.71,138.11,48.75v2.7c-15.87,2.19-26.13,14.82-42,17.61-52.11-21.81-66.58,1.25-96.5-6.72C629.58,340,583.13,356,526,373.54c-76.26,32.8-65.49,44.32-106.82,66.85V439h1.35c23.87-60.54,65-80,112.18-96.77C606,292.62,648,290.85,694,282Z"/><path fill-rule="evenodd" d="M1053.18,296.73c80.75,36.46,107.62,322.76,81,314.44-29.15-31.31-59.77-76.24-79-116.34,10.46-15.69,22.19-22.16,18-51.55,16.85-17.58,5.48-19.9,7.55-28.27,12.56-9.39,2.74-15.8-.77-27.24,4.16-2,5.83-4.24,10.83-5.42a69.94,69.94,0,0,0,8.12,5.42C1072.84,323.71,1063.08,308.1,1053.18,296.73Z"/><path fill-rule="evenodd" d="M935.17,300.08c38.7,12.57,69.83,41.71,94.17,73.57,10.29,21.75,6.32,26.62,20.11,38.69,3.77,17,17.38,51.6.56,61.57h-2.71c-5.75-26.47-30.8-34.85-38.2-55.66-2.83-37.79-1.88-29-19.78-49.12C967.23,312.61,951.94,319,935.17,300.08Z"/><path d="M859.37,1039.46c-17.41-34.6-81.59-36.47-141-32-24.53-6.58-93.54-9-129.3-173.68-2.27-26.15,16.73-50,11.82-69.64-8.42-38.14-50.25-67.5-26.45-108.69,8.59-55.35-10.76-40.93,67.05-95.24,52.15,3.86,26.73,7.24,82.3-27.93,15.22-3.82,48-10,54.47,7.1,32.57,12.78,63.27,29.64,93,44.16l1.74-.91c-6.51-22-31.19-27.42-50-38-35.34-34.7-85.27-49.52-137.34-50.6-166.17-22.13-221.33,204.77-202.55,80.6,0-2.7.46-8.14.46-8.14C443.86,630,422.61,729.84,456,807.5c5.79,18.37,47.85,104,63.91,107.53-12.2-33.13-38.47-113-38.4-151.78,0-22.58,3.53-29.55,8.76-66.17,7-19.17,23.6-23.84,23.6-23.84-5.26,26.74-13.23,105,6,138.92-1.06,21.58,10.39,31.52,20.93,71.48,14,66.76,42.31,117.93,110.69,130.75-7.62.87-14.57,1.62-20.62,2.14-40.69,8.12-104.54-42-138.44-75.34-10.66-10.51-21.31-24.71-24.37-39.26,8.83,70.78,102.67,166.13,193,156.67,58.44-14.58,160.65-54.53,197.78,32.15,1.4,2,12.67,12.77,19.85,14.57,5.32-.57,8.57-1,10.72-3.56C860.87,1087.58,895.94,1083.48,859.37,1039.46Z"/><path fill-rule="evenodd" d="M366.48,725c-8-44.32,3.71-115,18-144.17,10.32-43.68,37.39-79.85,65.59-115.41,30.65-36.53,53.4-33.17,80.4-46.87,32.07-18.29,61.95-35.18,96.14-44.3l12.18,1.35c1.76,3.28,2.44,3.84,2.71,9.48-2.5,3.62-.9,9.63,0,13.54,7,2.75,38.63-3.4,52.2-7.27,87.33-18.63,167.6,9.24,209.5,78.24C964,567.17,954,603.12,914.76,662.16c10.89-119.32-80.78-113.06-107.94-150-55.06-58.17-94.62-67.77-163-51.85-67.1,17.62-121.8,37.44-149.92,94-7-16.46,6.77-45.15,18.95-59.58C434.53,523.4,403,710.49,410.07,766.83c7.11,56.9,54.05,186.89,54.05,186.89h-2.71S399.61,908.05,366.48,725Z"/><path fill-rule="evenodd" d="M821.57,653.14c-164.49.23-141,136.74-182.57,112.64-87-67.34-61-218.2,64.17-181,6.18-.58,7.21-.73,13.06-4.83,27.16-37.16,75.25-9.77,113.32,0,44.48,11.23,66.12,34.74,65.69,79.12,16.72,46,.87,48.76-.56,78H883.85C850.56,688.84,878.08,677,821.57,653.14Z"/><path d="M1253.07,561.61c-28.72,18.13-4.09,35.56-47,111.84h-2.71c11.74-73,24.75-51.29-2.71-208.51-9.66,17.65,9.92,46.39-16.24,98.84v2.71c-10.73-8.88,2.94-68.31-8.13-133.92-9.53-39-53.84-149.33-121.85-149.06,114.06,38.71,121,274.09,111,418.38-9-13-5.55-49.25-13.54-62.29-.11-6.08-.85-7.38-2.71-10.83h-4.06c-2.2,11.63-1.84,35.52-9.48,43.33C1128.61,660,1122,645.55,1110,638.25c-13.7,0-19.44,13.08-20.31,25.73-8.58-14.56-.29-37.42-32.49-82.6-54.8-12.66-40.09.43-67.7-59.57-.05-10.53,3.76-10.73,10.83-13.54,4.27-23.59-38.42-95-67.7-101.55,25,26.41,30.62,63.78,46,93.43-19.13,33.33-14.69,10.88-1.25,75,5.69,42.08-15.41,4-38,110.39-12.85,23.07-18.8-3.77-26.2,39.52-9.58,25.11-36.56,3.22-19.9,82.49-1.1,1.39-.5.33-1.36,2.7h-1.35c-37.07-30.32-11.64-32-34.64-85.91C849,710.48,836.76,706,823.37,692c-15.55-16.06-11.9-20-43.78-14.44,13.31,4.1,27.6,10.5,25.73,25.72,1.52,5.72,3.67,8,7.78,9.29,57.95,17.7,26.77,82.75,22,123.4l6.77,9.48c9.45,2.67,25.48,9.38,33.84,1.35l4.07,1.35c2.78,4.89,3.49,33,13.54,27.08h5.41c4.09,11,7.68,23.36,14.9,29.79,15.42,1.44,39.76,16.54,52.8,2.71-14.94-3.91-23.89-6.27-33.85-24.37,11.19-6.85,22.82,3,32.5-10.83-9.05,1.33-34-8.83-43.33-14.9.92-7.16,1.45-16,0-23a63,63,0,0,0,6.77-8.13h5.41c-1.11-6-3.76-7.09-8.12-9.48,9.33-6.61,12.63,4.6,33.2-15.26-12.22,5.06-19.7-.41-26.43-7.75,7.73-38.79,37.88-54.3,63.64-82.6,5.71-18.54,4.43-44.4,24.22-53,7.71-5.73,6.74-23,13.69-29.57,19,42.56,4.42,39.22-2.72,93.43,15.92,31,15,60.76,16.26,93.42-6,1-7.52,2.61-14.9,2.71,1.3,5,2,6.53,6.77,8.12l-1.35,4.06c-4.18,1-6.09,2.16-10.83,2.71v4.06c4.19,2.74,7,6.43,12.18,8.13v1.35a21.66,21.66,0,0,0-6.77,6.77c-9.73,2.23-21.46,1.69-36.55,0,2.44,12.85,33.63,22.28,51.45,21.66-1.4,1.1-.34.5-2.71,1.36,2.2,10.51,8.34,6.71,12.19,12.18-1.32,9.88,5.66,16.5,10.83,23,1.48,15.51-42.52,8.29-50.1,8.12,17.71,14.58,40.22,26.31,78.53,10.84,20,16.93,22.82-7.17,35.2,23,15.83-.17,20.63-4.65,28.44-12.18-8.42-24.25-7.14-22.29.12-49.26-4.55-40.38,17.55-115.24,52.48-175.5,19.13-37.26,51-79.22,36.64-125.17C1247.93,578,1252.26,564.77,1253.07,561.61ZM1105.74,777.29c-19.41-11.67-5.23-55.8,15.85-80.65C1140.62,705.8,1140.62,723.24,1105.74,777.29Z"/><path fill-rule="evenodd" d="M746.87,1060.57c33.67-5.79,57.49,10.32,74.36,13.43,3,.57-80.37,11.69-94.44-14.9C729,1059.1,738,1061.3,746.87,1060.57Z"/><path d="M482.88,1410.14l1.69,1.69L482,1437.06c-24.1,2.11-55.39,7.16-55.39,22.3,0,18.08,5.92,108.1,10.14,158.15,3.39,30.71,7.19,38.7,20.72,38.7,4.65,0,10.56-.84,11.83-.84l1.69,2.1-3.8,26.5c-5.07,0-27.9-1.26-42.7-1.26-18.59,0-58.33,2.94-60,3.36l3-27.34c16.48-2.1,23.67-8,23.67-21,0-12.2-8.45-116.51-8.88-145.11h-3.8c-15.22,42.06-41,115.25-65.95,193.06l-28.74,3.79c-25.79-81.6-50.73-154-65.94-196.85h-3.39c-.42,15.14-9.72,140.06-9.72,150.16,0,9.25,4.23,13.46,13.53,13.46l14.37-.42,2.54,2.1-4.65,26.5c-8.88-.42-37.2-1.68-49.46-1.68-14.37,0-41.85,2.94-41.85,3.36l2.54-27.34c16.48-1.68,22.4-8.83,25.78-30.28,2.12-18.51,16.91-159.84,16.91-169.51,0-15.15-21.83-19.35-47.19-21.46l-2.11-2.52,3.8-24.39ZM305.75,1587.23h3.38l50.17-150.07-99.43-.61Z"/><path d="M516.68,1661.68c27.48-3,32.12-8.42,32.12-29.45v-8.83c0-10.52-2.11-18.51-9.72-32.39L504,1527.92c-9.73-17.67-17.76-26.5-38.47-31.55l-1.27-1.68,3.38-23.13s33,.84,46.5.84c17.33,0,56.65-2.53,56.65-2.53l2.11,3.37-2.11,20.61c-14.38.42-19.45,2.94-19.45,9.67s23.25,52.16,27.48,62.25h3.38l24.94-49.63c3.38-5.89,5.5-11.36,5.5-15.14,0-4.63-5.08-6.73-16.91-7.15l-1.27-1.68,2.54-21c11,0,32.12,1.27,48.19,1.27s36.77-1.27,36.77-1.27l1.27,2.53-2.54,21.87c-18.6,6.73-28.32,18.51-41.85,41.64l-33,58.89c-5.92,11.78-5.92,21-6.34,41.64,0,15.56,3.81,21,16.91,21,7.61,0,17.33-.84,17.33-.84l1.27,1.68-3.38,24.82s-41.85-1.68-60.45-1.68c-20.29,0-57.07,3.36-57.07,3.36Z"/><path d="M735.22,1660.83c30.86-2.1,35.08-7.15,35.08-32.38v-127c-32.12.84-36.35,5-41,43.32l-32.13,2.11s3.39-41.22,3.81-74.45l4.23-4.21,35.93,3.79H850.2l36.77-3.79,4.23,4.21c.43,34.07,3,72.34,3,72.34L862,1546.85c-5.07-41.65-8.45-44.59-38.46-45.43-2.12,29.86-3.38,87.91-3.38,135,0,16.4,5.07,22.29,19,22.29,9.72,0,18.17-.84,18.17-.84l1.27,1.68-3,24.82s-44.38-1.68-62.56-1.68c-19.87,0-60.45,2.52-60.45,2.52Z"/><path d="M917.41,1662.1c19.86-3.37,24.52-8.84,24.52-27.34l.42-122.4c0-13.89-2.54-16.83-12.68-16.83H919.52l-2.11-3.36,2.53-20.61s28.33.42,42.28.42c18.59,0,56.22-2.11,56.22-2.11l-2.12,24c-17.33,2.52-19.44,5.89-20.29,21.87l-2.11,44.59,41.85.84a333.38,333.38,0,0,0,38.46-2.11l.43-46.68c0-13.46-2.54-16.83-12.68-16.83h-10.57l-2.12-3.36,3-20.61c0,.42,30.86.42,46.5.42s53.27-2.11,53.27-2.11l-2.12,23.56c-16.91,2.1-20.71,5.47-21.13,18.08-2.54,34.5-4.23,89.18-4.23,125.77,0,16.82,3.38,21.87,14.37,21.87a96.6,96.6,0,0,0,11.84-.84l2.53,2.52-3.38,22.72s-29.59-.84-52.41-.84l-50.73.42,3-23.14c19-.42,24.51-6.73,24.51-29v-39.12s-22.4-.42-34.23-.42c-9.3,0-46.93,3-46.93,3l-.84,42.9c0,18.09,2.53,22.29,13.1,22.29a88.08,88.08,0,0,0,11.84-.84l2.11,2.52-3,22.3s-31.7-.84-45.65-.84c-21.14,0-55.38,2.1-55.8,2.52Z"/><path d="M1180.75,1662.1c20.3-3.79,24.52-8.84,24.52-27.34l.43-122.4c0-13.46-2.54-16.83-12.69-16.83H1181.6l-1.69-3.36,2.11-20.61c11.42,0,33.4.42,50.31.42,15.21,0,51.57-2.11,51.57-2.11l-2.12,24c-17.75,2.1-21.13,5.47-22,17.66-2.53,37-4.22,89.18-4.22,125.77,0,18.09,2.53,22.29,13.1,22.29a118.8,118.8,0,0,0,14-.84l2.11,2.52-3,22.3s-37.62-.84-53.26-.84c-19.87,0-50.3,2.52-50.3,2.52Z"/><path d="M1294,1582.6c0-70.67,46.92-114.41,122.16-114.41,29.59,0,68.06,8.41,68.06,8.41l2.12,4.63a368.55,368.55,0,0,0-9.3,63.93l-38,2.53s.42-8.42.42-17.67c0-18.51-10.56-26.5-35.08-26.5-33.82,0-51.15,21-51.15,67.72,0,52.16,19.44,80.34,53.26,80.34,23.67,0,35.93-12.2,41-43.32l38-2.53s-5.5,35.34-6.34,63.52l-3.81,4.2s-34.24,13-77.78,13C1332.93,1686.49,1294,1647.37,1294,1582.6Z"/><path d="M471.7,1716.05l-1,12.47-18.55-1h-8.64l-.79,57.42.79,32.3H426.92l1-30.87-.8-58.85h-8.63l-18.87,1-1.12-1.44,1.28-12.47h71Z"/><path d="M668.88,1817.28h-17l-2.4-11.52-4.48-14.23-21.74-.48-19.67.48-4.8,13.44-2.56,12.31H579.81l36.62-102.67h19.35Zm-28-39.18-14.72-47.34h-1.12l-16.79,47.34,16.15.32Z"/><path d="M861.51,1772.26q5.19,6.16,5.19,16.23,0,29.43-44,29.43-15.19,0-24.94-.64h-.16l1.12-30.87-1.12-71.8,32-.16q14.88,0,23.11,6.48t8.24,18.79a26.59,26.59,0,0,1-4,14.79,25.06,25.06,0,0,1-11.36,9.36Q856.3,1766.11,861.51,1772.26Zm-17.84,28.39q6.41-4.49,6.4-13.12,0-13.74-17.75-16.15l-18.71.16-.16,13.44.48,19.67c4.16.32,8,.48,11.51.48Q837.28,1805.13,843.67,1800.65Zm-4-70.05q-4.32-3.36-14.56-3.36H814.25l-.48,31.51,16.47.48q7-1.76,10.4-6t3.35-11.59Q844,1734,839.68,1730.6Z"/><path d="M1051.73,1805l-1.28,12.31H997.67l1.12-30.87-1.12-71.8h17l-1,70.37.32,18.55h36.62Z"/><path d="M1238.51,1803.21l1,1.44-1.12,12.63h-60.61l1.12-30.87-1.12-71.8h60.93l1,1.44-1.28,12.63-24.3-.64-19.51.16-.48,29.91,18.55.32,17-.48,1.12,1.28-1.28,12.63-18.07-.48-17.43.32-.16,13.28.48,18.87,19.51.16Z"/></symbol>
  
      <symbol id="vertical-url" viewBox="0 0 1622 2210"><path fill="var(--icon-bg)" stroke="var(--icon-bg)" stroke-width="2" d="M815.87,184.9c129.71,0,251.66,50.51,343.37,142.23s142.23,213.66,142.23,343.37v10.25c0,129.71-50.51,251.65-142.23,343.37s-213.66,142.23-343.37,142.23H805.63c-129.71,0-251.66-50.51-343.37-142.23S320,810.46,320,680.75V670.5c0-129.71,50.51-251.65,142.23-343.37S675.92,184.9,805.63,184.9h10.24z"></path><path d="M815.87,184.9c129.71,0,251.66,50.51,343.37,142.23s142.23,213.66,142.23,343.37v10.25c0,129.71-50.51,251.65-142.23,343.37s-213.66,142.23-343.37,142.23H805.63c-129.71,0-251.66-50.51-343.37-142.23S320,810.46,320,680.75V670.5c0-129.71,50.51-251.65,142.23-343.37S675.92,184.9,805.63,184.9h10.24m.29-49.77H805.34c-295.52,0-535.09,239.57-535.09,535.09V681c0,295.52,239.57,535.09,535.09,535.09h10.82c295.52,0,535.09-239.57,535.09-535.09V670.22c0-295.52-239.57-535.09-535.09-535.09Z"/><path fill-rule="evenodd" d="M844.56,295.83c-9.22-.89-22-2.23-29.78-4.06-29.95-52-60.12-37.46-100.2-55.51C817.53,235,894.82,274.3,924.45,327c33.81,18.32,43.22,40.75,60.93,65H984c-41.11-31.26-104.43-46.65-140.81-88A24.66,24.66,0,0,0,844.56,295.83Z"/><path fill-rule="evenodd" d="M694,282c53.3-2.55,92.74,25.71,138.11,48.75v2.7c-15.87,2.19-26.13,14.82-42,17.61-52.11-21.81-66.58,1.25-96.5-6.72C629.58,340,583.13,356,526,373.54c-76.26,32.8-65.49,44.32-106.82,66.85V439h1.35c23.87-60.54,65-80,112.18-96.77C606,292.62,648,290.85,694,282Z"/><path fill-rule="evenodd" d="M1053.18,296.73c80.75,36.46,107.62,322.76,81,314.44-29.15-31.31-59.77-76.24-79-116.34,10.46-15.69,22.19-22.16,18-51.55,16.85-17.58,5.48-19.9,7.55-28.27,12.56-9.39,2.74-15.8-.77-27.24,4.16-2,5.83-4.24,10.83-5.42a69.94,69.94,0,0,0,8.12,5.42C1072.84,323.71,1063.08,308.1,1053.18,296.73Z"/><path fill-rule="evenodd" d="M935.17,300.08c38.7,12.57,69.83,41.71,94.17,73.57,10.29,21.75,6.32,26.62,20.11,38.69,3.77,17,17.38,51.6.56,61.57h-2.71c-5.75-26.47-30.8-34.85-38.2-55.66-2.83-37.79-1.88-29-19.78-49.12C967.23,312.61,951.94,319,935.17,300.08Z"/><path d="M859.37,1039.46c-17.41-34.6-81.59-36.47-141-32-24.53-6.58-93.54-9-129.3-173.68-2.27-26.15,16.73-50,11.82-69.64-8.42-38.14-50.25-67.5-26.45-108.69,8.59-55.35-10.76-40.93,67.05-95.24,52.15,3.86,26.73,7.24,82.3-27.93,15.22-3.82,48-10,54.47,7.1,32.57,12.78,63.27,29.64,93,44.16l1.74-.91c-6.51-22-31.19-27.42-50-38-35.34-34.7-85.27-49.52-137.34-50.6-166.17-22.13-221.33,204.77-202.55,80.6,0-2.7.46-8.14.46-8.14C443.86,630,422.61,729.84,456,807.5c5.79,18.37,47.85,104,63.91,107.53-12.2-33.13-38.47-113-38.4-151.78,0-22.58,3.53-29.55,8.76-66.17,7-19.17,23.6-23.84,23.6-23.84-5.26,26.74-13.23,105,6,138.92-1.06,21.58,10.39,31.52,20.93,71.48,14,66.76,42.31,117.93,110.69,130.75-7.62.87-14.57,1.62-20.62,2.14-40.69,8.12-104.54-42-138.44-75.34-10.66-10.51-21.31-24.71-24.37-39.26,8.83,70.78,102.67,166.13,193,156.67,58.44-14.58,160.65-54.53,197.78,32.15,1.4,2,12.67,12.77,19.85,14.57,5.32-.57,8.57-1,10.72-3.56C860.87,1087.58,895.94,1083.48,859.37,1039.46Z"/><path fill-rule="evenodd" d="M366.48,725c-8-44.32,3.71-115,18-144.17,10.32-43.68,37.39-79.85,65.59-115.41,30.65-36.53,53.4-33.17,80.4-46.87,32.07-18.29,61.95-35.18,96.14-44.3l12.18,1.35c1.76,3.28,2.44,3.84,2.71,9.48-2.5,3.62-.9,9.63,0,13.54,7,2.75,38.63-3.4,52.2-7.27,87.33-18.63,167.6,9.24,209.5,78.24C964,567.17,954,603.12,914.76,662.16c10.89-119.32-80.78-113.06-107.94-150-55.06-58.17-94.62-67.77-163-51.85-67.1,17.62-121.8,37.44-149.92,94-7-16.46,6.77-45.15,18.95-59.58C434.53,523.4,403,710.49,410.07,766.83c7.11,56.9,54.05,186.89,54.05,186.89h-2.71S399.61,908.05,366.48,725Z"/><path fill-rule="evenodd" d="M821.57,653.14c-164.49.23-141,136.74-182.57,112.64-87-67.34-61-218.2,64.17-181,6.18-.58,7.21-.73,13.06-4.83,27.16-37.16,75.25-9.77,113.32,0,44.48,11.23,66.12,34.74,65.69,79.12,16.72,46,.87,48.76-.56,78H883.85C850.56,688.84,878.08,677,821.57,653.14Z"/><path d="M1253.07,561.61c-28.72,18.13-4.09,35.56-47,111.84h-2.71c11.74-73,24.75-51.29-2.71-208.51-9.66,17.65,9.92,46.39-16.24,98.84v2.71c-10.73-8.88,2.94-68.31-8.13-133.92-9.53-39-53.84-149.33-121.85-149.06,114.06,38.71,121,274.09,111,418.38-9-13-5.55-49.25-13.54-62.29-.11-6.08-.85-7.38-2.71-10.83h-4.06c-2.2,11.63-1.84,35.52-9.48,43.33C1128.61,660,1122,645.55,1110,638.25c-13.7,0-19.44,13.08-20.31,25.73-8.58-14.56-.29-37.42-32.49-82.6-54.8-12.66-40.09.43-67.7-59.57-.05-10.53,3.76-10.73,10.83-13.54,4.27-23.59-38.42-95-67.7-101.55,25,26.41,30.62,63.78,46,93.43-19.13,33.33-14.69,10.88-1.25,75,5.69,42.08-15.41,4-38,110.39-12.85,23.07-18.8-3.77-26.2,39.52-9.58,25.11-36.56,3.22-19.9,82.49-1.1,1.39-.5.33-1.36,2.7h-1.35c-37.07-30.32-11.64-32-34.64-85.91C849,710.48,836.76,706,823.37,692c-15.55-16.06-11.9-20-43.78-14.44,13.31,4.1,27.6,10.5,25.73,25.72,1.52,5.72,3.67,8,7.78,9.29,57.95,17.7,26.77,82.75,22,123.4l6.77,9.48c9.45,2.67,25.48,9.38,33.84,1.35l4.07,1.35c2.78,4.89,3.49,33,13.54,27.08h5.41c4.09,11,7.68,23.36,14.9,29.79,15.42,1.44,39.76,16.54,52.8,2.71-14.94-3.91-23.89-6.27-33.85-24.37,11.19-6.85,22.82,3,32.5-10.83-9.05,1.33-34-8.83-43.33-14.9.92-7.16,1.45-16,0-23a63,63,0,0,0,6.77-8.13h5.41c-1.11-6-3.76-7.09-8.12-9.48,9.33-6.61,12.63,4.6,33.2-15.26-12.22,5.06-19.7-.41-26.43-7.75,7.73-38.79,37.88-54.3,63.64-82.6,5.71-18.54,4.43-44.4,24.22-53,7.71-5.73,6.74-23,13.69-29.57,19,42.56,4.42,39.22-2.72,93.43,15.92,31,15,60.76,16.26,93.42-6,1-7.52,2.61-14.9,2.71,1.3,5,2,6.53,6.77,8.12l-1.35,4.06c-4.18,1-6.09,2.16-10.83,2.71v4.06c4.19,2.74,7,6.43,12.18,8.13v1.35a21.66,21.66,0,0,0-6.77,6.77c-9.73,2.23-21.46,1.69-36.55,0,2.44,12.85,33.63,22.28,51.45,21.66-1.4,1.1-.34.5-2.71,1.36,2.2,10.51,8.34,6.71,12.19,12.18-1.32,9.88,5.66,16.5,10.83,23,1.48,15.51-42.52,8.29-50.1,8.12,17.71,14.58,40.22,26.31,78.53,10.84,20,16.93,22.82-7.17,35.2,23,15.83-.17,20.63-4.65,28.44-12.18-8.42-24.25-7.14-22.29.12-49.26-4.55-40.38,17.55-115.24,52.48-175.5,19.13-37.26,51-79.22,36.64-125.17C1247.93,578,1252.26,564.77,1253.07,561.61ZM1105.74,777.29c-19.41-11.67-5.23-55.8,15.85-80.65C1140.62,705.8,1140.62,723.24,1105.74,777.29Z"/><path fill-rule="evenodd" d="M746.87,1060.57c33.67-5.79,57.49,10.32,74.36,13.43,3,.57-80.37,11.69-94.44-14.9C729,1059.1,738,1061.3,746.87,1060.57Z"/><path d="M482.88,1410.14l1.69,1.69L482,1437.06c-24.1,2.11-55.39,7.16-55.39,22.3,0,18.08,5.92,108.1,10.14,158.15,3.39,30.71,7.19,38.7,20.72,38.7,4.65,0,10.56-.84,11.83-.84l1.69,2.1-3.8,26.5c-5.07,0-27.9-1.26-42.7-1.26-18.59,0-58.33,2.94-60,3.36l3-27.34c16.48-2.1,23.67-8,23.67-21,0-12.2-8.45-116.51-8.88-145.11h-3.8c-15.22,42.06-41,115.25-65.95,193.06l-28.74,3.79c-25.79-81.6-50.73-154-65.94-196.85h-3.39c-.42,15.14-9.72,140.06-9.72,150.16,0,9.25,4.23,13.46,13.53,13.46l14.37-.42,2.54,2.1-4.65,26.5c-8.88-.42-37.2-1.68-49.46-1.68-14.37,0-41.85,2.94-41.85,3.36l2.54-27.34c16.48-1.68,22.4-8.83,25.78-30.28,2.12-18.51,16.91-159.84,16.91-169.51,0-15.15-21.83-19.35-47.19-21.46l-2.11-2.52,3.8-24.39ZM305.75,1587.23h3.38l50.17-150.07-99.43-.61Z"/><path d="M516.68,1661.68c27.48-3,32.12-8.42,32.12-29.45v-8.83c0-10.52-2.11-18.51-9.72-32.39L504,1527.92c-9.73-17.67-17.76-26.5-38.47-31.55l-1.27-1.68,3.38-23.13s33,.84,46.5.84c17.33,0,56.65-2.53,56.65-2.53l2.11,3.37-2.11,20.61c-14.38.42-19.45,2.94-19.45,9.67s23.25,52.16,27.48,62.25h3.38l24.94-49.63c3.38-5.89,5.5-11.36,5.5-15.14,0-4.63-5.08-6.73-16.91-7.15l-1.27-1.68,2.54-21c11,0,32.12,1.27,48.19,1.27s36.77-1.27,36.77-1.27l1.27,2.53-2.54,21.87c-18.6,6.73-28.32,18.51-41.85,41.64l-33,58.89c-5.92,11.78-5.92,21-6.34,41.64,0,15.56,3.81,21,16.91,21,7.61,0,17.33-.84,17.33-.84l1.27,1.68-3.38,24.82s-41.85-1.68-60.45-1.68c-20.29,0-57.07,3.36-57.07,3.36Z"/><path d="M735.22,1660.83c30.86-2.1,35.08-7.15,35.08-32.38v-127c-32.12.84-36.35,5-41,43.32l-32.13,2.11s3.39-41.22,3.81-74.45l4.23-4.21,35.93,3.79H850.2l36.77-3.79,4.23,4.21c.43,34.07,3,72.34,3,72.34L862,1546.85c-5.07-41.65-8.45-44.59-38.46-45.43-2.12,29.86-3.38,87.91-3.38,135,0,16.4,5.07,22.29,19,22.29,9.72,0,18.17-.84,18.17-.84l1.27,1.68-3,24.82s-44.38-1.68-62.56-1.68c-19.87,0-60.45,2.52-60.45,2.52Z"/><path d="M917.41,1662.1c19.86-3.37,24.52-8.84,24.52-27.34l.42-122.4c0-13.89-2.54-16.83-12.68-16.83H919.52l-2.11-3.36,2.53-20.61s28.33.42,42.28.42c18.59,0,56.22-2.11,56.22-2.11l-2.12,24c-17.33,2.52-19.44,5.89-20.29,21.87l-2.11,44.59,41.85.84a333.38,333.38,0,0,0,38.46-2.11l.43-46.68c0-13.46-2.54-16.83-12.68-16.83h-10.57l-2.12-3.36,3-20.61c0,.42,30.86.42,46.5.42s53.27-2.11,53.27-2.11l-2.12,23.56c-16.91,2.1-20.71,5.47-21.13,18.08-2.54,34.5-4.23,89.18-4.23,125.77,0,16.82,3.38,21.87,14.37,21.87a96.6,96.6,0,0,0,11.84-.84l2.53,2.52-3.38,22.72s-29.59-.84-52.41-.84l-50.73.42,3-23.14c19-.42,24.51-6.73,24.51-29v-39.12s-22.4-.42-34.23-.42c-9.3,0-46.93,3-46.93,3l-.84,42.9c0,18.09,2.53,22.29,13.1,22.29a88.08,88.08,0,0,0,11.84-.84l2.11,2.52-3,22.3s-31.7-.84-45.65-.84c-21.14,0-55.38,2.1-55.8,2.52Z"/><path d="M1180.75,1662.1c20.3-3.79,24.52-8.84,24.52-27.34l.43-122.4c0-13.46-2.54-16.83-12.69-16.83H1181.6l-1.69-3.36,2.11-20.61c11.42,0,33.4.42,50.31.42,15.21,0,51.57-2.11,51.57-2.11l-2.12,24c-17.75,2.1-21.13,5.47-22,17.66-2.53,37-4.22,89.18-4.22,125.77,0,18.09,2.53,22.29,13.1,22.29a118.8,118.8,0,0,0,14-.84l2.11,2.52-3,22.3s-37.62-.84-53.26-.84c-19.87,0-50.3,2.52-50.3,2.52Z"/><path d="M1294,1582.6c0-70.67,46.92-114.41,122.16-114.41,29.59,0,68.06,8.41,68.06,8.41l2.12,4.63a368.55,368.55,0,0,0-9.3,63.93l-38,2.53s.42-8.42.42-17.67c0-18.51-10.56-26.5-35.08-26.5-33.82,0-51.15,21-51.15,67.72,0,52.16,19.44,80.34,53.26,80.34,23.67,0,35.93-12.2,41-43.32l38-2.53s-5.5,35.34-6.34,63.52l-3.81,4.2s-34.24,13-77.78,13C1332.93,1686.49,1294,1647.37,1294,1582.6Z"/><path d="M471.7,1716.05l-1,12.47-18.55-1h-8.64l-.79,57.42.79,32.3H426.92l1-30.87-.8-58.85h-8.63l-18.87,1-1.12-1.44,1.28-12.47h71Z"/><path d="M668.88,1817.28h-17l-2.4-11.52-4.48-14.23-21.74-.48-19.67.48-4.8,13.44-2.56,12.31H579.81l36.62-102.67h19.35Zm-28-39.18-14.72-47.34h-1.12l-16.79,47.34,16.15.32Z"/><path d="M861.51,1772.26q5.19,6.16,5.19,16.23,0,29.43-44,29.43-15.19,0-24.94-.64h-.16l1.12-30.87-1.12-71.8,32-.16q14.88,0,23.11,6.48t8.24,18.79a26.59,26.59,0,0,1-4,14.79,25.06,25.06,0,0,1-11.36,9.36Q856.3,1766.11,861.51,1772.26Zm-17.84,28.39q6.41-4.49,6.4-13.12,0-13.74-17.75-16.15l-18.71.16-.16,13.44.48,19.67c4.16.32,8,.48,11.51.48Q837.28,1805.13,843.67,1800.65Zm-4-70.05q-4.32-3.36-14.56-3.36H814.25l-.48,31.51,16.47.48q7-1.76,10.4-6t3.35-11.59Q844,1734,839.68,1730.6Z"/><path d="M1051.73,1805l-1.28,12.31H997.67l1.12-30.87-1.12-71.8h17l-1,70.37.32,18.55h36.62Z"/><path d="M1238.51,1803.21l1,1.44-1.12,12.63h-60.61l1.12-30.87-1.12-71.8h60.93l1,1.44-1.28,12.63-24.3-.64-19.51.16-.48,29.91,18.55.32,17-.48,1.12,1.28-1.28,12.63-18.07-.48-17.43.32-.16,13.28.48,18.87,19.51.16Z"/><path d="M323.39,1989q.18-7-3.22-11t-9.85-4q-10.49,0-21.72,10.67l-.37,22.82.92,37.18H270.2l1.28-55.77q.19-7-3.22-11t-9.84-4q-10.68,0-22.09,11l-.18,22.45,1.1,37.18H218.48l1.1-35.52-.92-48,17.85-1.65-.18,12.33h1.29q10.86-9.57,22.64-13.07,10.31,0,17,3.59a20.17,20.17,0,0,1,9.48,10.21h1.11a67.21,67.21,0,0,1,24.29-13.8q14.18,0,21.44,6.44t7.09,18.41l-.55,23.92.92,37.18H322.28Z"/><path d="M371.06,1971.29l18.4,53.92h1.29l18.41-52.27,3.12-13.07h16.2l-29.26,80.62q-4.43,12.51-9.76,20a40.57,40.57,0,0,1-13.16,11.87q-7.82,4.41-20.34,7.55h-1.65a42,42,0,0,1-7.73-11.05l.55-2q13.06-2.4,20.61-7t13.81-15.09l-30.92-84.48,17.67-.92Z"/><path d="M485.72,2027.24l1.84,1.28-1.84,11.78a55.45,55.45,0,0,1-18.77,5.53q-11.42-1.85-16.57-7.64t-5.15-16.84l.74-13.25-.19-35.89H434.19l-.74-1.11.92-10.86H445.6v-13.43l16.56-6.26,1.66,1.47-.37,18.22H487l.74,1.29-.92,10.68H463.08l-.92,46.19q-.18,6.81,2.3,9.48t8.38,2.67A29.49,29.49,0,0,0,485.72,2027.24Z"/><path d="M557,1989q.18-7-3.22-11t-9.85-4q-10.49,0-22.09,11l-.36,22.27,1.28,37.36H503.94l1.29-35.7-1.1-92,18.77-1.47-.92,56.32h1.1q10.86-9.57,22.64-13.07,14.17,0,21.44,6.44t7.09,18.41l-.37,23.92.74,37.18H555.84Z"/><path d="M617,1923q2.56,2.67,2.57,7.46a11.1,11.1,0,0,1-2.76,7.91,11.27,11.27,0,0,1-15,.18,10.38,10.38,0,0,1-2.67-7.54,10.61,10.61,0,0,1,2.86-7.73,10.4,10.4,0,0,1,7.82-3A9.51,9.51,0,0,1,617,1923Zm-16,86.23-.56-48,18.41-1.65-.74,48,.55,37.18H600.2Z"/><path d="M690.2,1959.51a47.64,47.64,0,0,1,10.68,3.49l-3.13,15.65-1.84.73q-9.76-5.7-18-5.7-9.76,0-15.28,7.36t-5.52,20.61q0,14.17,5.71,22t16.19,7.82q9.21,0,19.7-5.52l1.65,1.1-1.84,15.09a63.07,63.07,0,0,1-22.45,4.24q-17.31,0-27-11.51t-9.66-31.74q0-21,10.31-33t28.53-12A57.49,57.49,0,0,1,690.2,1959.51Z"/><path d="M759.4,2027.24l1.84,1.28-1.84,11.78a55.38,55.38,0,0,1-18.77,5.53q-11.42-1.85-16.57-7.64t-5.15-16.84l.74-13.25-.19-35.89H707.87l-.74-1.11.92-10.86h11.23v-13.43l16.56-6.26,1.66,1.47-.37,18.22h23.56l.74,1.29-.92,10.68H736.76l-.92,46.19q-.18,6.81,2.3,9.48t8.38,2.67A29.49,29.49,0,0,0,759.4,2027.24Z"/><path d="M827.32,1964.29q7.35,6.07,7.36,16.93,0,3.32-1.11,22.09-1.1,18.4-1.1,21.53c0,2.34.4,4,1.2,4.88s2.17,1.38,4.14,1.38a31.07,31.07,0,0,0,5.52-.73l1.66,1.28L843.15,2042a28,28,0,0,1-11.6,4,14.31,14.31,0,0,1-9.2-4.14,16,16,0,0,1-4.24-9.48h-1.28q-9.39,9.94-19.15,13.8-12.69-.18-20-6.62t-7.27-17.49q0-16.38,17.85-20.43l29.08-6.44.18-9.94q0-6.81-3.4-10.3t-9.85-3.5a30,30,0,0,0-12.52,2.85,67.5,67.5,0,0,0-13.8,8.93l-1.47-.92-2.39-13.07q16.18-11,33.13-11Q820,1958.22,827.32,1964.29Zm-33.87,47.49a8.45,8.45,0,0,0-4.78,2.48q-1.49,1.76-1.48,5.43c0,3.68,1,6.57,3,8.65a10.86,10.86,0,0,0,8.19,3.13q8.66,0,18.41-11.23l.55-14.17Z"/><path d="M930,1969.63q8.47,10.68,8.47,30,0,22.45-10.86,34.6t-30.18,12.15a45.25,45.25,0,0,1-18.78-4.24l-11.77,4.79-2.77-1.84,1.29-35.71-1.1-92.39,18.77-1.47-.73,56.13h1.1a68.65,68.65,0,0,1,10.67-7.82,58.38,58.38,0,0,1,11.42-4.88Q921.55,1959,930,1969.63Zm-15.09,56.23q6.08-7.63,6.08-23.1,0-13.8-4.79-21.26a15.42,15.42,0,0,0-13.8-7.45q-9.76,0-20.25,11l-.37,22.08.56,21.35q8.28,5,15.82,5Q908.85,2033.49,914.92,2025.86Z"/><path d="M977,2007.36l1.28,37.36H959.46l1.29-35.7-1.11-92,18.78-1.47Z"/><path d="M1067.87,2003.13l-51.72.18q.18,14,6.81,21.26t18.77,7.27q12.7,0,24.85-7.55l1.84,1.11-2.76,15.09a64.84,64.84,0,0,1-26.14,5.89q-19,0-29.72-11.69T999,2002.76q0-20.43,10.68-32.4t28.89-12q15.47,0,23.84,8.47t8.37,23.92a67.5,67.5,0,0,1-.92,10.13Zm-14-14.54q0-8.65-4-13.07t-11.5-4.42a19.12,19.12,0,0,0-14,5.43q-5.52,5.43-7.36,15.37l36.44-.74Z"/><path d="M1101.37,2027.51q2.57,2.67,2.57,7.46a11.1,11.1,0,0,1-2.76,7.91,11.27,11.27,0,0,1-15,.18,10.38,10.38,0,0,1-2.67-7.54,10.64,10.64,0,0,1,2.85-7.73,10.42,10.42,0,0,1,7.83-3A9.57,9.57,0,0,1,1101.37,2027.51Z"/><path d="M1164.86,1959.51a47.64,47.64,0,0,1,10.68,3.49l-3.13,15.65-1.84.73q-9.77-5.7-18-5.7-9.75,0-15.28,7.36t-5.52,20.61q0,14.17,5.71,22t16.19,7.82q9.21,0,19.7-5.52l1.66,1.1-1.84,15.09a63.17,63.17,0,0,1-22.46,4.24q-17.3,0-27-11.51t-9.67-31.74q0-21,10.31-33t28.53-12A57.49,57.49,0,0,1,1164.86,1959.51Z"/><path d="M1252,1969.35q9.66,11.14,9.66,31.57,0,21.9-10.3,33.68t-29.27,11.78q-17.85,0-27.51-11.14t-9.67-31.56q0-21.9,10.31-33.68t29.26-11.78Q1242.34,1958.22,1252,1969.35Zm-49.6,30.28q0,17.3,5.15,25.58t15.83,8.28q10.48,0,15.64-7t5.16-21.35q0-17.3-5.16-25.58t-15.64-8.28Q1202.41,1971.29,1202.41,1999.63Z"/><path d="M1385.35,1989q.18-7-3.22-11t-9.84-4q-10.5,0-21.72,10.67l-.37,22.82.92,37.18h-19l1.29-55.77q.18-7-3.22-11t-9.85-4q-10.67,0-22.08,11l-.19,22.45,1.11,37.18h-18.78l1.11-35.52-.92-48,17.85-1.65-.18,12.33h1.29q10.85-9.57,22.63-13.07,10.3,0,17,3.59a20.17,20.17,0,0,1,9.48,10.21h1.1a67.17,67.17,0,0,1,24.3-13.8q14.16,0,21.44,6.44t7.08,18.41l-.55,23.92.92,37.18h-18.77Z"/></symbol>
      
      <symbol id="icon" viewBox="0 0 1024 1024"><path fill="var(--icon-bg)" stroke="var(--icon-bg)" stroke-width="2" d="M516.85,47.15c122.87,0,238.39,47.85,325.27,134.73s134.73,202.4,134.73,325.27v9.7c0,122.87-47.85,238.39-134.73,325.27S639.72,976.85,516.85,976.85h-9.7c-122.87,0-238.39-47.85-325.27-134.73S47.15,639.72,47.15,516.85v-9.7c0-122.87,47.85-238.39,134.73-325.27S384.28,47.15,507.15,47.15h9.7z"></path><path d="M516.85,47.15c122.87,0,238.39,47.85,325.27,134.73s134.73,202.4,134.73,325.27v9.7c0,122.87-47.85,238.39-134.73,325.27S639.72,976.85,516.85,976.85h-9.7c-122.87,0-238.39-47.85-325.27-134.73S47.15,639.72,47.15,516.85v-9.7c0-122.87,47.85-238.39,134.73-325.27S384.28,47.15,507.15,47.15h9.7M517.12,0H506.88C226.94,0,0,226.94,0,506.88v10.24C0,797.06,226.94,1024,506.88,1024h10.24C797.06,1024,1024,797.06,1024,517.12V506.88C1024,226.94,797.06,0,517.12,0Z"/><path fill-rule="evenodd" d="M544,152.23c-8.74-.85-20.86-2.11-28.22-3.84C487.45,99.13,458.87,112.9,420.9,95.8c97.53-1.16,170.73,36,198.8,85.93,32,17.35,40.94,38.6,57.72,61.57h-1.28c-38.95-29.62-98.93-44.2-133.39-83.37A23.42,23.42,0,0,0,544,152.23Z"/><path fill-rule="evenodd" d="M401.4,139.11c50.49-2.43,87.84,24.35,130.82,46.17v2.56c-15,2.08-24.75,14-39.76,16.68-49.35-20.66-63.06,1.19-91.41-6.37-60.67-4.06-104.67,11.12-158.82,27.69-72.24,31.07-62,42-101.19,63.33v-1.29h1.28c22.61-57.35,61.6-75.76,106.27-91.67C318,149.19,357.82,147.52,401.4,139.11Z"/><path fill-rule="evenodd" d="M741.64,153.09c76.5,34.53,102,305.74,76.69,297.86-27.61-29.66-56.62-72.22-74.79-110.21,9.91-14.86,21-21,17.06-48.84,16-16.65,5.2-18.85,7.15-26.77,11.9-8.9,2.6-15-.73-25.81,4-1.93,5.53-4,10.26-5.13a66,66,0,0,0,7.7,5.13C760.27,178.64,751,163.86,741.64,153.09Z"/><path fill-rule="evenodd" d="M629.86,156.25c36.65,11.91,66.15,39.52,89.2,69.7,9.75,20.6,6,25.21,19.06,36.64,3.57,16.12,16.46,48.89.52,58.33h-2.56c-5.45-25.07-29.18-33-36.19-52.72-2.68-35.8-1.78-27.47-18.74-46.54C660.23,168.12,645.75,174.22,629.86,156.25Z"/><path d="M558.05,856.65c-16.49-32.77-77.28-34.55-133.58-30.28-23.23-6.24-88.61-8.48-122.48-164.53-2.15-24.77,15.85-47.33,11.2-66-8-36.13-47.61-64-25.06-103,8.14-52.42-10.19-38.76,63.52-90.21,49.39,3.65,25.32,6.86,78-26.46,14.42-3.62,45.5-9.49,51.6,6.73,30.86,12.11,59.94,28.08,88.11,41.83l1.65-.86c-6.17-20.89-29.55-26-47.38-36.05C490.1,355,442.8,341,393.48,340c-157.41-21-209.66,194-191.88,76.36,0-2.57.45-7.72.45-7.72-37.6,60.17-57.72,154.76-26.1,228.32,5.49,17.4,45.33,98.48,60.55,101.86-11.56-31.38-36.44-107-36.38-143.78,0-21.38,3.35-28,8.3-62.67,6.61-18.17,22.36-22.59,22.36-22.59-5,25.33-12.53,99.46,5.72,131.59-1,20.45,9.84,29.87,19.82,67.72,13.26,63.24,40.08,111.71,104.86,123.86-7.22.81-13.81,1.53-19.54,2-38.54,7.69-99-39.77-131.14-71.36-10.1-10-20.18-23.41-23.08-37.2,8.36,67,97.25,157.38,182.8,148.42,55.36-13.82,152.19-51.67,187.35,30.45,1.33,1.91,12,12.09,18.81,13.8,5-.55,8.11-.95,10.15-3.38C559.47,902.23,592.69,898.35,558.05,856.65Z"/><path fill-rule="evenodd" d="M91.16,558.75c-7.6-42,3.51-108.9,17-136.57,9.78-41.37,35.42-75.63,62.13-109.32,29-34.6,50.59-31.42,76.16-44.4,30.38-17.32,58.68-33.33,91.07-42l11.54,1.28c1.67,3.1,2.31,3.63,2.56,9-2.36,3.42-.85,9.12,0,12.82,6.61,2.61,36.6-3.22,49.45-6.89,82.73-17.64,158.76,8.76,198.45,74.12,57.58,92.45,48.14,126.51,11,182.43,10.32-113-76.52-107.1-102.24-142.07-52.16-55.1-89.63-64.19-154.4-49.11-63.56,16.69-115.38,35.46-142,89-6.61-15.59,6.42-42.76,18-56.44-74.2,27.16-104,204.39-97.37,257.75,6.73,53.91,51.2,177,51.2,177h-2.57S122.54,732.17,91.16,558.75Z"/><path fill-rule="evenodd" d="M522.25,490.7c-155.82.22-133.53,129.53-172.94,106.7C266.93,533.61,291.47,390.7,410.09,426c5.85-.55,6.83-.69,12.38-4.57,25.73-35.2,71.28-9.26,107.34-.05C571.94,432,592.45,454.27,592,496.31c15.84,43.6.83,46.19-.53,73.91H581.24C549.72,524.52,575.78,513.32,522.25,490.7Z"/><path d="M931,404c-27.21,17.17-3.88,33.68-44.51,105.94h-2.56c11.12-69.11,23.44-48.58-2.57-197.51-9.15,16.72,9.4,43.94-15.39,93.63v2.56c-10.16-8.41,2.79-64.71-7.69-126.86-9-36.94-51-141.46-115.43-141.2C850.9,177.23,857.5,400.2,848,536.88c-8.52-12.36-5.27-46.66-12.83-59-.1-5.77-.8-7-2.56-10.26h-3.85c-2.09,11-1.74,33.64-9,41-6.7-11.5-13-25.15-24.37-32.06-13,0-18.41,12.39-19.24,24.37-8.12-13.79-.27-35.45-30.78-78.24-51.91-12-38,.4-64.13-56.43,0-10,3.57-10.17,10.26-12.83,4.05-22.35-36.39-90-64.12-96.19,23.67,25,29,60.41,43.6,88.49-18.11,31.58-13.91,10.31-1.17,71,5.38,39.86-14.61,3.82-36,104.57-12.17,21.85-17.8-3.58-24.81,37.43-9.08,23.79-34.64,3.05-18.86,78.14-1,1.32-.47.31-1.28,2.56h-1.28c-35.12-28.73-11-30.32-32.82-81.38-6.63-13.08-18.2-17.35-30.89-30.62-14.73-15.22-11.27-19-41.46-13.69,12.6,3.89,26.14,10,24.36,24.37,1.45,5.42,3.48,7.59,7.37,8.8,54.9,16.77,25.37,78.39,20.85,116.89l6.41,9c9,2.53,24.15,8.89,32.07,1.28l3.85,1.28c2.63,4.63,3.31,31.31,12.82,25.66h5.13c3.88,10.44,7.28,22.12,14.11,28.21,14.61,1.37,37.66,15.67,50,2.57-14.15-3.7-22.63-5.94-32.06-23.09,10.59-6.49,21.61,2.9,30.78-10.26-8.57,1.27-32.18-8.36-41-14.11.87-6.78,1.37-15.13,0-21.8a60.18,60.18,0,0,0,6.41-7.7h5.13c-1.06-5.7-3.57-6.71-7.7-9,8.84-6.27,12,4.35,31.45-14.47-11.57,4.8-18.66-.38-25-7.34,7.32-36.74,35.88-51.43,60.28-78.24,5.41-17.56,4.2-42.06,22.94-50.22,7.31-5.43,6.39-21.78,13-28,18,40.31,4.19,37.15-2.57,88.5,15.08,29.4,14.18,57.56,15.39,88.49-5.63.92-7.12,2.47-14.1,2.57,1.22,4.7,1.89,6.19,6.41,7.69-.43,1.29-.86,2.57-1.28,3.85-4,.95-5.77,2-10.26,2.57v3.84c4,2.59,6.59,6.09,11.54,7.7v1.28a20.54,20.54,0,0,0-6.41,6.41c-9.23,2.12-20.34,1.61-34.63,0,2.31,12.18,31.85,21.11,48.73,20.53-1.31,1-.31.47-2.56,1.28,2.08,10,7.9,6.36,11.54,11.54-1.25,9.36,5.37,15.63,10.26,21.81,1.4,14.68-40.28,7.85-47.45,7.69,16.78,13.81,38.1,24.91,74.39,10.26,19,16,21.62-6.79,33.34,21.8,15-.16,19.54-4.4,26.94-11.54-8-23-6.76-21.11.11-46.66C838.7,679,859.63,608.07,892.72,551c18.12-35.29,48.32-75,34.71-118.57C926.13,419.53,930.23,407,931,404ZM791.44,608.3c-18.39-11-5-52.85,15-76.4C824.47,540.59,824.47,557.1,791.44,608.3Z"/><path fill-rule="evenodd" d="M451.49,876.65c31.9-5.49,54.46,9.77,70.43,12.71,2.87.55-76.13,11.08-89.45-14.1C434.6,875.26,443,877.34,451.49,876.65Z"/></symbol>
  
      <symbol id="wordmark" viewBox="0 0 3394 1024"><path d="M873.28,0l4.25,4.22L871.16,67.6c-60.51,5.28-139.09,18-139.09,56,0,45.42,14.86,271.46,25.48,397.16,8.49,77.1,18,97.17,52,97.17,11.68,0,26.54-2.11,29.73-2.11l4.24,5.28L834,687.62c-12.74,0-70.06-3.16-107.22-3.16-46.7,0-146.49,7.39-150.73,8.45l7.43-68.66c41.4-5.28,59.44-20.07,59.44-52.81,0-30.64-21.23-292.59-22.29-364.41h-9.55c-38.22,105.62-103,289.41-165.6,484.82l-72.18,9.51C308.52,496.44,245.89,314.77,207.68,207h-8.49c-1.07,38-24.42,351.73-24.42,377.08,0,23.24,10.62,33.8,34,33.8l36.09-1,6.37,5.28-11.68,66.54c-22.29-1.06-93.41-4.22-124.19-4.22-36.1,0-105.09,7.39-105.09,8.45l6.37-68.66C58,620,72.87,602.07,81.36,548.2c5.31-46.48,42.46-401.38,42.46-425.67,0-38-54.82-48.59-118.51-53.87L0,62.32,9.55,1.06ZM428.48,444.69H437L563,67.83,313.25,66.32Z"/><path d="M958.15,631.64c69-7.39,80.68-21.12,80.68-73.94V535.52c0-26.4-5.31-46.47-24.41-81.33L926.31,295.75c-24.42-44.36-44.58-66.54-96.6-79.22l-3.18-4.22,8.49-58.1s82.8,2.12,116.77,2.12C995.31,156.33,1094,150,1094,150l5.31,8.45L1094,210.2c-36.09,1.05-48.83,7.39-48.83,24.29s58.38,131,69,156.33h8.49l62.63-124.64c8.49-14.79,13.8-28.52,13.8-38,0-11.62-12.74-16.9-42.46-18l-3.18-4.23,6.37-52.82c27.59,0,80.67,3.17,121,3.17s92.35-3.17,92.35-3.16l3.19,6.33L1370,214.42c-46.71,16.9-71.13,46.48-105.09,104.57l-82.8,147.88c-14.86,29.57-14.86,52.81-15.93,104.57,0,39.08,9.56,52.81,42.46,52.81,19.11,0,43.53-2.11,43.53-2.11l3.18,4.22-8.49,62.32s-105.09-4.22-151.8-4.22c-50.95,0-143.3,8.45-143.3,8.45Z"/><path d="M1507,629.53c77.49-5.28,88.11-18,88.11-81.33v-319c-80.68,2.11-91.29,12.67-103,108.79l-80.67,5.28s8.49-103.51,9.55-186.95l10.61-10.57,90.23,9.51h273.88l92.35-9.51,10.62,10.57c1.06,85.55,7.43,181.67,7.43,181.67l-80.68,5.28c-12.74-104.57-21.23-112-96.6-114.07-5.3,75-8.49,220.76-8.49,339.06,0,41.19,12.74,56,47.77,56,24.41,0,45.64-2.11,45.64-2.11l3.19,4.22-7.43,62.32s-111.46-4.22-157.11-4.22c-49.89,0-151.8,6.33-151.8,6.33Z"/><path d="M1964.46,632.7c49.89-8.45,61.57-22.18,61.57-68.66l1.06-307.37c0-34.86-6.37-42.25-31.84-42.25h-25.48l-5.31-8.45,6.37-51.76s71.12,1.06,106.15,1.06c46.71,0,141.19-5.28,141.19-5.28l-5.31,60.21c-43.52,6.33-48.83,14.78-51,54.92l-5.31,112,105.09,2.12c40.34,0,65.81-2.12,96.6-5.28l1.06-117.25c0-33.8-6.37-42.25-31.85-42.25H2301l-5.3-8.45,7.43-51.76c0,1.06,77.49,1.06,116.77,1.06S2553.61,150,2553.61,150l-5.31,59.15c-42.46,5.28-52,13.73-53.08,45.42-6.36,86.61-10.61,223.93-10.61,315.82,0,42.25,8.49,54.92,36.09,54.92a242.3,242.3,0,0,0,29.72-2.11l6.37,6.34-8.49,57s-74.31-2.11-131.63-2.11l-127.38,1,7.43-58.09c47.77-1.06,61.57-16.9,61.57-72.88V456.3s-56.26-1.05-86-1.05c-23.35,0-117.82,7.39-117.82,7.39l-2.13,107.74c0,45.42,6.37,56,32.91,56a220.82,220.82,0,0,0,29.72-2.11l5.31,6.34-7.43,56s-79.62-2.11-114.65-2.11c-53.07,0-139.06,5.28-140.12,6.33Z"/><path d="M2625.78,632.7c50.95-9.51,61.57-22.18,61.57-68.66l1.06-307.37c0-33.8-6.37-42.25-31.85-42.25H2627.9l-4.25-8.45,5.31-51.76c28.66,0,83.86,1.06,126.33,1.06,38.21,0,129.5-5.28,129.5-5.28l-5.31,60.21c-44.58,5.28-53.07,13.73-55.2,44.36-6.37,92.95-10.61,223.93-10.61,315.82,0,45.42,6.37,56,32.91,56a298.43,298.43,0,0,0,35-2.11l5.3,6.34-7.43,56s-94.47-2.11-133.75-2.11c-49.89,0-126.32,6.33-126.32,6.33Z"/><path d="M2910.26,433.07c0-177.46,117.82-287.31,306.78-287.31,74.3,0,170.9,21.13,170.9,21.13l5.31,11.62s-18,69.71-23.35,160.55l-95.54,6.34s1.06-21.13,1.06-44.37c0-46.47-26.54-66.54-88.11-66.54-84.92,0-128.44,52.81-128.44,170.06,0,131,48.83,201.74,133.75,201.74,59.45,0,90.23-30.63,103-108.79l95.54-6.34s-13.8,88.73-15.92,159.5l-9.56,10.56s-86,32.74-195.32,32.74C3007.92,694,2910.26,595.73,2910.26,433.07Z"/><path d="M845.21,768.19l-2.41,31.32-46.59-2.41H774.53l-2,144.17,2,81.12H732.76l2.41-77.5-2-147.79H711.48l-47.39,2.41-2.81-3.61,3.21-31.33H842.8Z"/><path d="M1340.37,1022.39H1297.8l-6-28.91-11.25-35.74-54.61-1.21-49.4,1.21-12,33.73-6.42,30.92h-41.37l92-257.82h48.59ZM1270.09,924l-36.95-118.87h-2.81L1188.17,924l40.56.81Z"/><path d="M1824.08,909.35q13.05,15.46,13.05,40.76,0,73.89-110.43,73.89-38.16,0-62.65-1.61h-.4l2.81-77.5-2.81-180.32,80.32-.4q37.33,0,58,16.26t20.69,47.19q0,21.69-10,37.15t-28.52,23.49Q1811,893.89,1824.08,909.35Zm-44.78,71.28q16.07-11.24,16.07-32.93,0-34.55-44.58-40.56l-47,.4-.4,33.73,1.21,49.4q15.66,1.2,28.91,1.2Q1763.24,991.87,1779.3,980.63Zm-10-175.9q-10.83-8.43-36.54-8.43h-27.31l-1.2,79.11,41.36,1.21q17.67-4.43,26.1-15.06t8.44-29.12Q1780.11,813.17,1769.26,804.73Z"/><path d="M2301.77,991.47l-3.21,30.92H2166l2.81-77.5L2166,764.57h42.57l-2.41,176.7.8,46.59h92Z"/><path d="M2770.82,987.05l2.41,3.62-2.81,31.72h-152.2l2.81-77.5-2.81-180.32h153l2.41,3.62-3.21,31.72-61-1.6-49,.4-1.2,75.1,46.58.8,42.57-1.21,2.81,3.22-3.21,31.72-45.38-1.2-43.77.8-.4,33.33,1.2,47.39,49,.4Z"/></symbol>
  </svg>
  </body>
</html>
