<template>
    <div class="sliders" :style="`--h: ${h * 360}; --s: ${s * 100}%; --l: ${l * 100}%; --a: ${a}`">
      <div class="slider hue" :style="`--thumb-color: hsl(var(--h), 100%, 50%)`">
        <input 
          type="range"
          min="0"
          max="1"
          step=".01"
          aria-valuemin="0"
          aria-valuemax="1"
          :aria-valuenow="h"
          v-model="h">
      </div>
      <div class="slider saturation" :style="`--thumb-color: hsl(var(--h), var(--s), var(--l))`">
        <input 
          type="range"
          min="0"
          max="1"
          step=".01"
          aria-valuemin="0"
          aria-valuemax="1"
          :aria-valuenow="s"
          v-model="s">
      </div>
      <div class="slider lightness" :style="`--thumb-color: hsl(var(--h), var(--s), var(--l))`">
        <input 
          type="range"
          min="0"
          max="1"
          step=".01"
          aria-valuemin="0"
          aria-valuemax="1"
          :aria-valuenow="l"
          v-model="l">
      </div>
      <div class="slider alpha" style="--thumb-color: transparent;">
        <input 
          type="range"
          min="0"
          max="1"
          step=".01"
          aria-valuemin="0"
          aria-valuemax="1"
          :aria-valuenow="a"
          v-model="a">
      </div>
    </div>
</template>

<script>
import * as Color from 'tinycolor2'
export default {
  props: {
    value: Object
  },
  data () {
    return {
      
    }
  },
  computed: {
    h: {
      get () {
        return this.value.h
      },
      set (v) {
        this.$emit('input', {h:v, s:this.s, l:this.l, a:this.a})
      }
    },
    s: {
      get () {
        return this.value.s
      },
      set (v) {
        this.$emit('input', {h:this.h, s:v, l:this.l, a:this.a})
      }
    },
    l: {
      get () {
        return this.value.l
      },
      set (v) {
        this.$emit('input', {h:this.h, s:this.s, l:v, a:this.a})
      }
    },
    a: {
      get () {
        return this.value.a
      },
      set (v) {
        this.$emit('input', {h:this.h, s:this.s, l:this.l, a:v})
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$track-color: transparent !default;
$thumb-color: white !default;

$thumb-radius: 0 !default;
$thumb-height: .5rem !default;
$thumb-width: .5rem !default;
$thumb-shadow-size: 0 !default;
$thumb-shadow-blur: 0 !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: .0625rem !default;
$thumb-border-color: currentColor !default;

$track-width: 100% !default;
$track-height: .5rem !default;
$track-shadow-size: 0 !default;
$track-shadow-blur: 0 !default;
$track-shadow-color: transparent !default;
$track-border-width: 0 !default;
$track-border-color: currentColor !default;

$track-radius: 0 !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  background-color: var(--thumb-color, $thumb-color);
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
  background-image: var(--thumb-bg);
  background-position: 50%;
  box-shadow: inset 1px 1px 0 white, inset -1px -1px 0 white;
}

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
  width: $track-width;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);
  }

  &::-moz-range-track {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    @include track;
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
    height: $track-height / 2;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $ie-bottom-track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: ($track-radius * 2);
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: $track-height / 4;
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}

.sliders {
  --h: 360;
  --s: 100%;
  --l: 50%;
  --a: 0;
}

.slider {
  display: flex;
  background-size: 100% 1rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  input {
    height: .5rem;
  }
}

.hue {
  background-image: linear-gradient(to right, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
}

.saturation {
  background-image: linear-gradient(to right, hsl(var(--h), 0%, var(--l)), hsl(var(--h), 50%, var(--l)), hsl(var(--h), 100%, var(--l)))
}

.lightness {
  background-image: linear-gradient(to right, hsl(var(--h), var(--s), 0%), hsl(var(--h), var(--s), 50%), hsl(var(--h), var(--s), 100%))
}

.alpha {
  background-image: linear-gradient(to right, transparent, hsl(var(--h), var(--s), var(--l))), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'%3E%3Cg fill-opacity='1'%3E%3Crect x='0' y='0' height='20' width='20' fill='%23ccc' /%3E%3Crect x='0' y='0' width='10' height='10' fill='%23fff' /%3E%3Crect x='10' y='10' width='10' height='10' fill='%23fff' /%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat-x;
  background-size: 100% 1rem, auto 1rem;
  --thumb-bg: linear-gradient(hsla(var(--h),var(--s),var(--l),var(--a)), hsla(var(--h),var(--s),var(--l),var(--a))), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'%3E%3Cg fill-opacity='1'%3E%3Crect x='0' y='0' height='20' width='20' fill='%23ccc' /%3E%3Crect x='0' y='0' width='10' height='10' fill='%23fff' /%3E%3Crect x='10' y='10' width='10' height='10' fill='%23fff' /%3E%3C/g%3E%3C/svg%3E");
}
</style>