<template>
  <div class="controls" :class="!controlsShown && 'hidden'">
    <button class="toggle" @click="controlsShown = !controlsShown">{{controlsShown ? 'Hide' : 'Show'}} controls</button>
    <template v-if="controlsShown">
      <label class="label label--width">Width</label>
      <div class="input input--width">
        <input class="input input--widthBase" type="text" inputmode="numeric" pattern="[0-9]*" v-model="d_width" @keyup="$emit('update:width', d_width)">
        <div class="formGroup">
          <label class="label--url">Fit on page</label>
          <input class="input input--url" type="checkbox" v-model="fitOnPage" @change="$emit('fit-on-page', fitOnPage)">
        </div>
      </div>
      <label class="label label--variant">Variant</label>
      <div class="input input--variant">
        <select class="input input--variantBase" v-model="d_variant" @change="$emit('update:variant', d_variant)">
            <option v-for="(opt, index) in variants" :key="index" :value="opt">
            {{opt}}
            </option>
        </select>
        <div class="formGroup" v-if="hasUrl">
          <label class="label--url">Add URL</label>
          <input class="input input--url" type="checkbox" v-model="d_withUrl" @change="$emit('update:withUrl', d_withUrl)">
        </div>
      </div>
      <label class="label label--colorFg">Foreground</label>
      <div class="input input--colorFg">
        <div class="preview-colorFg"></div>
        <color-picker v-model="d_colorFg" @input="d_colorFg = $event" />
      </div>
      <label class="label label--colorBg">Background</label>
      <div class="input input--colorBg">
        <div class="preview-colorBg"></div>
        <color-picker v-model="d_colorBg" @input="d_colorBg = $event" />
        <div class="formGroup">
          <label class="label--iconOnly">Fill icon only</label>
          <input type="checkbox" class="input input--iconOnly" v-model="bgIconOnly" @change="$emit('bg-icon-only', bgIconOnly)">
        </div>
      </div>
      <label class="label label--imgType">File type</label>
      <div class="input input--imgType">
          <label>
            <input type="radio" name="imgType" value="png" id="imgType-png" v-model="d_imgType">
            PNG
          </label>
          <label>
            <input type="radio" name="imgType" value="svg" id="imgType-svg" v-model="d_imgType">
            SVG
          </label>
      </div>
    </template>
    <a class="download" download="mythic_logo.png" :href="pngUrl" v-if="imgType === 'png'">Download</a>
    <a class="download" download="mythic_logo" :href="`data:image/svg+xml;utf-8,${selectedSvgCode}`" v-else-if="imgType === 'svg'">Download</a>
  </div>
</template>

<script>
import ColorPicker from './ColorPicker'
    export default {
        components: {
            ColorPicker
        },
        props: {
            colorSelector: null,
            variant: String,
            withUrl: Boolean,
            colorFg: Object,
            colorBg: Object,
            width: [Number, String],
            imgType: String,
            pngUrl: String,
            selectedSvgCode: String
        },
        data () {
          return {
            bgIconOnly: false,
            fitOnPage: true,
            variants: ['horizontal', 'vertical', 'icon', 'wordmark'],
            d_variant: this.variant,
            d_withUrl: this.withUrl,
            d_colorFg: this.colorFg,
            d_colorBg: this.colorBg,
            d_width: this.width,
            d_imgType: this.imgType,
            controlsShown: true
          }
        },
        computed: {
            hasUrl () {
                if (this.variant === 'horizontal' || this.variant === 'vertical') {
                    return true
                }
                return false
            }
        },
        watch: {
            d_imgType () {
                this.$emit('update:imgType', this.d_imgType)
            },
            d_colorFg () {
                this.$emit('update:colorFg', this.d_colorFg)
            },
            d_colorBg () {
                this.$emit('update:colorBg', this.d_colorBg)
            }
        }
    }
</script>

<style lang="scss" scoped>
.controls {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 'widthLabel variantLabel fgLabel bgLabel typeLabel download' 'widthCtrl variantCtrl fgCtrl bgCtrl typeCtrl download';
  grid-gap: .5rem 1rem;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: .5rem;
  background-color: #eee;
  border: solid 1px currentColor;
  color: black;
  font-size: .7em;
  align-items: start;
  white-space: nowrap;
}

.controls {
  grid-template-areas: 'toggle toggle' 'widthLabel variantLabel' 'widthCtrl variantCtrl' 'fgLabel fgLabel' 'fgCtrl fgCtrl' 'bgLabel bgLabel' 'bgCtrl bgCtrl' 'typeLabel download' 'typeCtrl download';
}

.controls.hidden {
  grid-template-areas: 'toggle' 'download';
}

.toggle {
  width: 100%;
  grid-area: toggle;
  background-color: hsl(200, 60%, 40%);
  color: white;
  border: 0;
  padding: .75rem 2rem;
  cursor: pointer;
}

.label {
  font-weight: bold;
}

.label--width {
  grid-area: widthLabel;
}

.label--variant {
  grid-area: variantLabel;
}

.label--colorFg {
  grid-area: fgLabel;
}

.label--colorBg {
  grid-area: bgLabel;
}

.label--imgType {
  grid-area: typeLabel;
}

.input--width {
  grid-area: widthCtrl;
}

.input--variant {
  grid-area: variantCtrl;
}

.input--colorFg {
  grid-area: fgCtrl;
}

.input--colorBg {
  grid-area: bgCtrl;
}

.input--imgType {
  grid-area: typeCtrl;
}

.download {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem 2rem;
  background-color: hsl(80, 70%, 40%);
  color: white;
  align-self: center;
  grid-area: download;
}

.input--imgType {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  label {
    display: flex;
    align-items: center;

    &:first-child {
      margin-bottom: .25rem;
    }

    input {
        margin: 0;
        margin-right: .25rem;
    }
  }
}
.formGroup {
  display: flex;
  align-items: center;;

  input {
    margin-right: .5rem;
  }
}

.input--widthBase{
  width: 6ch;
  text-align: center;
}

.input--width {
  display: flex;
  flex-direction: column;
}

.input--variant {
  display: flex;
  flex-direction: column;
}
</style>