<template>
  <svg :width="parseInt(width)" :height="parseInt(height)" :style="`color: ${color}`">
    <use :href="`#${selectedIcon}`" />
  </svg>
</template>

<script>
export default {
  name: 'Logo',
  props: {
    selectedIcon: String,
    color: String,
    width: [Number, String],
    height: Number
  }
}
</script>

<style scoped>
iframe {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
}
</style>