<template>
  <div id="app" :style="`--icon-bg: ${iconBg};`">
    <!-- <svg-sources /> -->
    <canvas :width="width" :height="height" style="position: fixed; visibility: hidden;" ref="canvas"></canvas>
    <logo :viewBox="fitOnPage && `0 0 ${width} ${height}`" :style="logoPosition" :width="width" :height="height" :selected-icon="selectedIcon" :color="`hsla(${colorFg.h * 360},${colorFg.s * 100}%,${colorFg.l * 100}%,${colorFg.a})`" />
    <controls 
      ref="controls"
      :variant.sync="variant" 
      :with-url.sync="withUrl" 
      :color-fg.sync="colorFg" 
      :color-bg.sync="colorBg" 
      :width.sync="width" 
      :img-type.sync="imgType"
      :png-url="pngUrl"
      :selected-svg-code="selectedSvgCode"
      @bg-icon-only="bgIconOnly = $event"
      @fit-on-page="fitOnPage = $event" />
  </div>
</template>

<script>
import Logo from './components/Logo'
import Controls from './components/Controls'

export default {
  name: 'App',
  components: {
    Logo,
    Controls
  },
  data () {
    return {
      variant: 'horizontal',
      withUrl: false,
      colorFg: {"h":0,"s":0,"l":0,"a":1},
      colorBg: {"h":0,"s":0,"l":1,"a":0},
      bgIconOnly: false,
      width: 800,
      imgType: 'png',
      pngUrl: null,
      fitOnPage: true,
      windowWidth: window.innerWidth,
      windowHeight: window.innerHeight
    }
  },
  mounted () {
    this.$nextTick(() => {this.generateURL()})
    let c = this.colorBg
  },
  watch: {
    selectedSvgCode () {
      this.generateURL()
    },
    bgIconOnly () {
      var c = this.colorBg
      document.body.style.setProperty('--bg-color', this.bgIconOnly ? 'transparent' : `hsla(${c.h * 360},${c.s * 100}%,${c.l * 100}%,${c.a})`)
    },
    colorBg: {
      handler () {
        var c = this.colorBg
        document.body.style.setProperty('--bg-color', this.bgIconOnly ? 'transparent' : `hsla(${c.h * 360},${c.s * 100}%,${c.l * 100}%,${c.a})`)
      },
      deep: true
    }
  },
  computed: {
    logoPosition () {
      if (this.fitOnPage) { 
        return `position: fixed; max-width: 100vw; max-height: 100vh; top: ${this.windowHeight > this.height ? `calc(50vh - ${this.height / 2}px)` : 0}; left: ${this.windowWidth > this.width ? `calc(50vw - ${this.width / 2}px)` : 0}`
      }
      return `position: relative; calc(50vh - ${this.height / 2}px); top: ${this.windowHeight > this.height ? `calc(50vh - ${this.height / 2}px)` : 0}; left: ${this.windowWidth > this.width ? `calc(50vw - ${this.width / 2}px)` : 0}`
    },
    iconBg () {
      var c = this.colorBg
      if (this.bgIconOnly) return `hsla(${c.h * 360}, ${c.s * 100}%, ${c.l * 100}%, ${c.a})`
      return 'transparent'
    },
    selectedIcon () {
      if (['horizontal', 'vertical'].includes(this.variant)) {
        return `${this.variant}${this.withUrl ? '-url' : ''}`
      }
      return this.variant
    },
    height: {
      cache: false,
      get () {
        if (this.width) {
          let dimensions = document.getElementById(this.selectedIcon).getAttribute('viewBox').split(' ').splice(2, 2)
          return Math.round((this.width * dimensions[1]) / dimensions[0])
        }
        return 250
      }
    },
    selectedSvgCode : { 
      cache: false,
      get () {
        var b = this.colorBg
        var f = this.colorFg
        var svg = document.getElementById(this.selectedIcon)
        svg.setAttribute('height', this.height)
        svg.setAttribute('width', this.width)
        var svgSource = new XMLSerializer().serializeToString( svg )
        var circle = svgSource.match(/<path(.*?)>/)[0]
        if (this.bgIconOnly) {
          svgSource = svgSource.replace(/var\(--icon-bg\)/g, `hsla(${b.h * 360},${b.s * 100}%,${b.l * 100}%,${b.a})`)
        } else {
          var bgStyle = `<rect height="110%" width="110%" fill="hsla(${b.h * 360},${b.s * 100}%,${b.l * 100}%,${b.a})" x="-1" y="-1" />`
          svgSource = svgSource.replace(/<path(.*?)>/, bgStyle)
        }
        svgSource = svgSource.replace(/symbol/g, 'svg')
          .replace(/(<svg(.*?)>)/, `$1<g fill="hsla(${f.h * 360},${f.s * 100}%,${f.l * 100}%,${f.a})">`)
          .replace('</svg', '</g></svg')
        var encoded = encodeURI(svgSource)
          .replace(/#/g, '%23')
        return encoded
      }
    }
  },
  methods: {
    generateURL () {
      if (!this.$refs.controls) return
      if (!this.$refs.canvas) return
      var canvas = this.$refs.canvas
      var ctx = canvas.getContext( "2d" )
      var img = new Image()
      let app = this

      ctx.clearRect(0, 0, canvas.width, canvas.height)
      img.setAttribute( "src", `data:image/svg+xml;utf-8,${this.selectedSvgCode}` )
      img.onload = function() {
        ctx.drawImage( img, 0, 0 )
        app.pngUrl = canvas.toDataURL('image/png')
      }
    }
  }
}
</script>

<style lang="scss">
body {
  margin: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'%3E%3Cg fill-opacity='1'%3E%3Crect x='0' y='0' height='20' width='20' fill='%23ccc' /%3E%3Crect x='0' y='0' width='10' height='10' fill='%23fff' /%3E%3Crect x='10' y='10' width='10' height='10' fill='%23fff' /%3E%3C/g%3E%3C/svg%3E");

  &::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg-color);
    z-index: -1;
  }
}
svg {
  transition: color .3s ease-in-out;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
